{% extends 'layout.html' %}
{% block content %}

<body>
    <form>
        <table class="main-table">
            <tr>
                <td colspan="2">
                    Text<input type="text" name="textboxlength5" maxlength="5"><br>
                </td>
            </tr>

            <tr>
                <td>
                    Checkbox1 <input type="checkbox" required><br>
                    Radio1<input type="radio"><br>
                    <td>
                        Checkbox2 <input type="checkbox" required><br>
                        <a href="desert-valley-jeep.html">dv-jeep</a>
                    </td>
                </td\>
            </tr>

            <tr>
                <td colspan="2">
                    <input type="submit"><br>
                </td>
            </tr>
        </table>
    </form>
</body>
{% endblock %}