{% extends 'layout.html' %}
{% block content %}
<div class="homepage">
    <div class="Info">
        <div class="Ranking">
            <details>
                <summary>Possible maps to max ranked easiest to hardest</summary>
                <div>
                    <table>
                        <tr>
                            <td>
                                1.  Forest<br>
                                2.  Desert Valley<br>
                                3.  City<br>
                                4.  Bog<br>
                                5.  Winter<br>
                                6.  Reef<br>
                                7.  Moon<br>
                                8.  Mines<br>
                                9.  Savanna<br>
                                10. Beach<br>
                                11. Mountain<br>
                                12. Gloomvale<br>
                                13. Cuptown<br>
                                14. Countryside<br>
                                15. Overspill<br>
                                16. Patchwork<br>
                                17. Canyon Arena<br>
                                18. Racer Glacier <br>
                            </td>
                        </tr>
                    </table>
                </div>
            </details>
        </div>

        <div class="Completion">
            <div>Countryside: {{ CountrysideStars }}/310,000
                <div class="Progress-Bar">
                    <div class="Progress" style="width: {{ Percent1 }}%">{{ Percent1 }}%</div>
                </div>
            </div>
            <div>Forest: {{ ForestStars }}/310,000<br>
                <div class="Progress-Bar">
                    <div class="Progress" style="width: {{ Percent2 }}%">{{ Percent2 }}%</div>
                </div>
            </div>
            <div>City: {{ CityStars }}/310,000<br>
                <div class="Progress-Bar">
                    <div class="Progress" style="width: {{ Percent3 }}%">{{ Percent3 }}%</div>
                </div>
            </div>
            <div>Mountain: {{ MountainStars }}/310,000<br>
                <div class="Progress-Bar">
                    <div class="Progress" style="width: {{ Percent4 }}%">{{ Percent4 }}%</div>
                </div>
            </div>
            <div>Reef: {{ ReefStars }}/310,000<br>
                <div class="Progress-Bar">
                    <div class="Progress" style="width: {{ Percent5 }}%">{{ Percent5 }}%</div>
                </div>
            </div>
            <div>Winter: {{ WinterStars }}/310,000<br>
                <div class="Progress-Bar">
                    <div class="Progress" style="width: {{ Percent6 }}%">{{ Percent6 }}%</div>
                </div>
            </div>
            <div>Mines: {{ MinesStars }}/310,000<br>
                <div class="Progress-Bar">
                    <div class="Progress" style="width: {{ Percent7 }}%">{{ Percent7 }}%</div>
                </div>
            </div>
            <div>Desert Valley: {{ DesertvalleyStars }}/310,000<br>
                <div class="Progress-Bar">
                    <div class="Progress" style="width: {{ Percent8 }}%">{{ Percent8 }}%</div>
                </div>
            </div>
            <div>Beach: {{ BeachStars }}/310,000<br>
                <div class="Progress-Bar">
                    <div class="Progress" style="width: {{ Percent9 }}%">{{ Percent9 }}%</div>
                </div>
            </div>
            <div>Bog: {{ BogStars }}/310,000<br>
                <div class="Progress-Bar">
                    <div class="Progress" style="width: {{ Percent10 }}%">{{ Percent10 }}%</div>
                </div>
            </div>
            <div>Glacier: {{ GlacierStars }}/310,000<br>
                <div class="Progress-Bar">
                    <div class="Progress" style="width: {{ Percent11 }}%">{{ Percent11 }}%</div>
                </div>
            </div>
            <div>Patchwork: {{ PatchworkStars }}/310,000<br>
                <div class="Progress-Bar">
                    <div class="Progress" style="width: {{ Percent12 }}%">{{ Percent12 }}%</div>
                </div>
            </div>
            <div>Savanna: {{ SavannaStars }}/310,000<br>
                <div class="Progress-Bar">
                    <div class="Progress" style="width: {{ Percent13 }}%">{{ Percent13 }}%</div>
                </div>
            </div>
            <div>Gloomvale: {{ GloomvaleStars }}/310,000<br>
                <div class="Progress-Bar">
                    <div class="Progress" style="width: {{ Percent14 }}%">{{ Percent14 }}%</div>
                </div>
            </div>
            <div>Overspill: {{ OverspillStars }}/310,000<br>
                <div class="Progress-Bar">
                    <div class="Progress" style="width: {{ Percent15 }}%">{{ Percent15 }}%</div>
                </div>
            </div>
            <div>Canyon Arena: {{ CanyonarenaStars }}/310,000<br>
                <div class="Progress-Bar">
                    <div class="Progress" style="width: {{ Percent16 }}%">{{ Percent16 }}%</div>
                </div>
            </div>
            <div>Cuptown: {{ CuptownStars }}/310,000<br>
                <div class="Progress-Bar">
                    <div class="Progress" style="width: {{ Percent17 }}%">{{ Percent17 }}%</div>
                </div></div>
            <div>Moon: {{ MoonStars }}/310,000<br>
                <div class="Progress-Bar">
                    <div class="Progress" style="width: {{ Percent18 }}%">{{ Percent18 }}%</div>
                </div>
            </div>
            <div>Total Stars: {{ TotalStars }}/5,580,000<br>
                <div class="Progress-Bar">
                    <div class="Progress" style="width: {{ Percent }}%">{{ Percent }}%</div>
                </div>
            </div>
        </div> 

        <div class="Maps-Guide">
            <div>
                <details>
                    <summary>Countryside</summary>
                    <div>
                        <p>
                            Difficulty Ranking:<br>
                            2/10: Rallycar, Super Diesel, Glider, Tank
                            3/10:
                            4/10:
                            5/10:
                            6/10:
                            7/10:
                            8/10:
                            9/10:
                            10/10: Superbike
                        </p>
                    </div>
                </details>
            </div>
            <br>
            <div>
                <details>
                    <summary>Forest</summary>
                    <div>
                        <p>
                            Difficulty Ranking:<br>
                            0/10: Rallycar, CC-EV, Super Diesel, Dune Buggy, Musclecar, Rock Bouncer, Tank<br>
                            1/10: Glider, Racing Truck, Tractor, Raider<br>
                            2/10: Mk2, Chopper, Jeep, Rotator, Monster Truck, Sportscar, Bolt, Bus<br>
                            3/10: Snowmobile, Scooter, Beast, Lowrider, Supercar, Superbike, Hoverbike<br>
                            4/10: Motocross<br>
                            5/10: Monowheel, Formula, Moonlander, Hotrod<br><br>
                            Easiest Setup: 😒<br>
                            <a href="https://www.youtube.com/watch?v=sT-1vsPoYOg" target="_blank">Rallycar:</a> Winter Tires, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=VYMvbT7sT-8" target="_blank">CC-EV:</a> Winter Tires(or Landing Boost), Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=M5pzKKVZifc" target="_blank">Super Diesel:</a> Wheelie Boost, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=IvFBWzwDBm4" target="_blank">Dune Buggy:</a> Coin Boost, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=SkgBWBGDB7I" target="_blank">Muscle Car:</a> Winter Tires, Wings, Coin Boost(or Magnet)<br>
                            <a href="https://www.youtube.com/watch?v=oSERfEBL77g" target="_blank">Rock Bouncer:</a> Wheelie Boost, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=-rnlAlOpsWo" target="_blank">Tank:</a> Cage, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=AHDzTdxTC0E" target="_blank">Glider:</a> Landing Boost, Jump Shocks, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=LiBBpDDfadE" target="_blank">Racing Truck:</a> Wheelie Boost, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=XdqsxYiJhq0" target="_blank">Tractor:</a> Winter Tires, Wings, Cage<br>
                            <a href="https://www.youtube.com/watch?v=-CAXFNZ7nJ4" target="_blank">Raider:</a> Winter Tires, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=ur8-5YPdYhc" target="_blank">Mk2:</a> Landing Boost, Wings, Jump Shocks<br>
                            <a href="https://www.youtube.com/watch?v=X8dwzc0XGJc" target="_blank">Chopper:</a> Landing Boost, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=rzGHGiaCY9c" target="_blank">Jeep:</a> Landing Boost, Wings, Jump Shocks<br>
                            <a href="https://www.youtube.com/watch?v=9NFeHro4K8o" target="_blank">Rotator:</a> Coin Boost, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=TIvWd4O4jaY" target="_blank">Monster Truck:</a> Wheelie Boost, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=-BuSJbSffAo" target="_blank">Sports Car:</a> Overcharged Turbo, Wings, Fume Boost<br>
                            <a href="https://www.youtube.com/watch?v=NcJgYjYs9D4" target="_blank">Bolt:</a> Overcharged Turbo, Wings, Jump Shocks<br>
                            <a href="https://www.youtube.com/watch?v=i--r3pnJt1E" target="_blank">Bus:</a> Overcharged Turbo, Wings, Fume Boost<br>
                            <a href="https://www.youtube.com/watch?v=nmjnFj_f9ds" target="_blank">Snowmobile:</a> Rollcage, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=xrHX4QYnqb8" target="_blank">Scooter:</a> Winter Tires, Wings, Landing Boost<br>
                            <a href="https://www.youtube.com/watch?v=Jz_64j3jwsw" target="_blank">Beast:</a> Winter Tires, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=jlaQbnUBDRQ" target="_blank">Lowrider:</a> Winter Tires, Wings, Coin Boost<br>
                            <a href="https://www.youtube.com/watch?v=k99N4t_j2Q0" target="_blank">Super Car:</a> Coin Boost, Wings, Winter Tires<br>
                            <a href="https://www.youtube.com/watch?v=RF1UgCZ5bpw" target="_blank">Superbike:</a> Coin Boost, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=iEbUAI2b2cc" target="_blank">Hoverbike:</a> Rollcage, Fume Boost, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=QmpVdWJdoPE" target="_blank">Motocross:</a> Landing Boost, Wings, Wheelie Boost<br>
                            <a href="https://www.youtube.com/watch?v=zz7Ut32ZNg0" target="_blank">Monowheel:</a> Jump Shocks, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=_dOe_zzHU38" target="_blank">Formula:</a> Winter Tires, Wings, Overcharged Turbo<br>
                            <a href="https://www.youtube.com/watch?v=kre6oLJMcec" target="_blank">Moonlander:</a> Coin Boost, Wheelie Boost, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=77NyHL9KGnM" target="_blank">Hotrod:</a> Landing Boost, Coin Boost, Jump Shocks<br>
                        </p>
                    </div>
                </details>
            </div>
            <br>
            <div>
                <details>
                    <summary>City</summary>
                    <div>
                        <p>
                            Difficulty Ranking:<br>
                            1/10: Glider<br>
                            2/10: <br>
                            3/10: Dune Buggy, Super Diesel, Rallycar, Musclecar, CC-EV<br>
                            4/10: Jeep, Racing Truck, Monster Truck, Rotator, Chopper, Tank, Bus, Raider<br>
                            5/10: Mk2, Lowrider, Beast, Rock Bouncer, Hoverbike, Bolt, Snowmobile, Motocross, Tractor, Scooter<br>
                            6/10: Supercar, Hotrod, Formula<br>
                            7/10: Superbike, Moonlander, Monowheel<br>
                            8/10: Sportscar<br><br>
                            Easiest Setup: 😒<br>
                            <a href="https://www.youtube.com/watch?v=7cEuZAW6vUo" target="_blank">Glider:</a> Landing Boost, Jump Shocks, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=bnmLrcPMxPA" target="_blank">Dune Buggy:</a> Thrusters, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=3x1dolCfYPU" target="_blank">Super Diesel:</a> Jump Shocks, Wings, Thrusters<br>
                            <a href="https://www.youtube.com/watch?v=c-sjPFWWd4c" target="_blank">Rally Car:</a> Jump Shocks, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=zPC9LKzTfVI" target="_blank">Muscle Car:</a> Jump Shocks, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=PA3Foa3nOyc" target="_blank">CC-EV:</a> Jump Shocks, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=FmV9I2opsKk" target="_blank">Jeep:</a> Jump Shocks, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=dIZD7thNtFo" target="_blank">Racing Truck:</a> Thrusters, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=v8XoaV085FM" target="_blank">Monster Truck:</a> Jump Shocks, Wings, Thrusters<br>
                            <a href="https://www.youtube.com/watch?v=lN06Cgb9FbU" target="_blank">Rotator:</a> Thrusters, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=k7NzTh776z4" target="_blank">Chopper:</a> Thrusters, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=VX2M71Z91TA" target="_blank">Tank:</a> Thrusters, Wings, Jump Shocks<br>
                            <a href="https://www.youtube.com/watch?v=tfOoIoF5N8s" target="_blank">Bus:</a> Thrusters, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=Py1EmhPas3Q" target="_blank">Raider:</a> Jump Shocks, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=_21SAaRYUzc" target="_blank">Mk2:</a> Jump Shocks, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=Ak_HBkajqy8" target="_blank">Lowrider:</a> Nitro, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=vJrpw7uyTz0" target="_blank">Beast:</a> Thrusters, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=KDnmlM-YEJY" target="_blank">Rock Bouncer:</a> Thrusters, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=ijmJX1MdMxk" target="_blank">Hoverbike:</a> Nitro, Fume Boost, Magnet<br>
                            <a href="" target="_blank">Bolt:</a> Jump Shocks, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=eHtpy8eaC48" target="_blank">Snowmobile:</a> Rollcage, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=Dg3IIARioOk" target="_blank">Motocross:</a> Jump Shocks, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=s9MiICXQZFw" target="_blank">Tractor:</a> Jump Shocks, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=R76yKmS8x-Q" target="_blank">Scooter:</a> Jump Shocks, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=wXGIAU9AUdI" target="_blank">Super Car:</a> Jump Shocks, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=uTImGQWiXTw" target="_blank">Hotrod:</a> Jump Shocks, Winter Tires, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=m5MG6cWoudA" target="_blank">Formula:</a> Jump Shocks, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=szXbVkc2phM" target="_blank">Superbike:</a> Winter Tires, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=ldQDhQCQ7Es" target="_blank">Moonlander:</a> Coin Boost, Fume Boost, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=jgcIvs7n9dk" target="_blank">Monowheel:</a> Jump Shocks, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=3L2N6f1c24Y" target="_blank">Sports Car:</a> Jump Shocks, Wings, Landing Boost<br>
                        </p>
                    </div>
                </details>
            </div>
            <br>
            <div>
                <details>
                    <summary>Mountain</summary>
                    <div>
                        <p>
                            Difficulty Ranking:<br>
                        </p>
                    </div>
                </details>
            </div>
            <br>
            <div>
                <details>
                    <summary>Rustbucket Reef</summary>
                    <div>
                        <p>
                            Difficulty Ranking:<br>
                        </p>
                    </div>
                </details>
            </div>
            <br>
            <div>
                <details>
                    <summary>Winter</summary>
                    <div>
                        <p>
                            Difficulty Ranking:<br>
                            1/10: Dune Buggy, Super Diesel, Rallycar, Racing Truck, Musclecar, CC-EV, Rock Bouncer, Raider, Glider<br>
                            2/10: Tank, Bus, Bolt<br>
                            3/10: Jeep, Monster Truck, Rotator, Chopper, Tractor, Scooter<br>
                            4/10: Mk2, Hoverbike, Beast<br>
                            5/10: Sportscar, Snowmobile<br>
                            6/10: Motocross<br>
                            7/10: Lowrider, Formula<br>
                            8/10: Monowheel<br>
                            9/10: Superbike, Supercar, Hotrod<br>
                            10/10: Moonlander<br><br>
                            <a href="https://www.youtube.com/watch?v=plYvr2Rx68g" target="_blank">Dune Buggy:</a> Winter Tires, Coin Boost, Wings<br>
                            <a href="https://www.youtube.com/watch?v=KhfXcxfwe3M" target="_blank">Super Diesel:</a> Jump Shocks, Wings, Landing Boost<br>
                            <a href="https://www.youtube.com/watch?v=QN2qG-G7aX0" target="_blank">Rally Car:</a> Winter Tires, Coin Boost, Wings<br>
                            <a href="https://www.youtube.com/watch?v=1Z8yKu0QyXk" target="_blank">Racing Truck:</a> Winter Tires, Wheelie Boost, Wings<br>
                            <a href="https://www.youtube.com/watch?v=-RfJe2LiPM8" target="_blank">Muscle Car:</a> Fume Boost, Winter Tires, Wings<br>
                            <a href="https://www.youtube.com/watch?v=MGeY6NwuQzk" target="_blank">CC-EV:</a> Landing Boost, Jump Shocks, Wings<br>
                            <a href="https://www.youtube.com/watch?v=chrI7QXWuYo" target="_blank">Rock Bouncer:</a> Wheelie Boost, Fume Boost, Wings<br>
                            <a href="https://www.youtube.com/watch?v=ZYequ7oQeK0" target="_blank">Raider:</a> Winter Tires, Wings, Coin Boost<br>
                            <a href="" target="_blank">Glider:</a> Landing Boost, Jump Shocks, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=SBINUqqX1IE" target="_blank">Tank:</a> Wheelie Boost, Fume Boost, Wings<br>
                            <a href="https://www.youtube.com/watch?v=k5b5AHREPS8" target="_blank">Bus:</a> Overcharged Turbo, Fume Boost, Wings<br>
                            <a href="" target="_blank">Bolt:</a> Landing Boost, Jump Shocks, Wings<br>
                            <a href="https://www.youtube.com/watch?v=XH5C87L-4Ng" target="_blank">Jeep:</a> Landing Boost, Jump Shocks, Wings<br>
                            <a href="https://www.youtube.com/watch?v=4zhjseqovWs" target="_blank">Monster Truck:</a> Wings, Coin Boost, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=6nTxRVvksCA" target="_blank">Rotator:</a> Coin Boost, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=wsVBroFI8IE" target="_blank">Chopper:</a> Landing Boost, Wings, Fume Boost<br>
                            <a href="https://www.youtube.com/watch?v=FY9BpnwFq00" target="_blank">Tractor:</a> Coin Boost, Winter Tires, Wings<br>
                            <a href="https://www.youtube.com/watch?v=npQy0yU36pE" target="_blank">Scooter:</a> Landing Boost, Jump Shocks, Wings<br>
                            <a href="https://www.youtube.com/watch?v=naYwp99Mhbk" target="_blank">Mk2:</a> Landing Boost, Jump Shocks, Wings<br>
                            <a href="https://www.youtube.com/watch?v=z18UD5PIKX4" target="_blank">Hoverbike:</a> Overcharged Turbo, Coin Boost, Fume Boost<br>
                            <a href="https://www.youtube.com/watch?v=lVN4N7SKF5o" target="_blank">Beast:</a> Winter Tires, Coin Boost, Wings<br>
                            <a href="https://www.youtube.com/watch?v=pjGQiSiIIRA" target="_blank">Sports Car:</a> Landing Boost, Jump Shocks, Wings<br>
                            <a href="https://www.youtube.com/watch?v=lPrrcU95Rbg" target="_blank">Snowmobile:</a> Coin Boost, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=SVDvFYBSb3o" target="_blank">Motocross:</a> Landing Boost, Jump Shocks, Wings<br>
                            <a href="https://www.youtube.com/watch?v=aGdFvrfS4SM" target="_blank">Lowrider:</a> Landing Boost, Coin Boost, Wings<br>
                            <a href="https://www.youtube.com/watch?v=RRlvDHCAXSg" target="_blank">Formula:</a> Landing Boost, Jump Shocks, Wings<br>
                            <a href="https://www.youtube.com/watch?v=iD4DLB4PsEE" target="_blank">Monowheel:</a> Fume Boost, Jump Shocks, Wings<br>
                            <a href="https://www.youtube.com/watch?v=BWYEqTodYQM" target="_blank">Superbike:</a> Coin Boost, Fume Boost, Wings<br>
                            <a href="https://www.youtube.com/watch?v=k8hBywRlHwY" target="_blank">Supercar:</a> Landing Boost, Jump Shocks, Wings<br>
                            <a href="https://www.youtube.com/watch?v=5yyowABfPuQ" target="_blank">Hotrod:</a> Landing Boost, Jump Shocks, Coin Boost<br>
                            <a href="" target="_blank">Moonlander:</a> Wheelie Boost, Coin Boost, Fume Boost<br>
                        </p>
                    </div>
                </details>
            </div>
            <br>
            <div>
                <details>
                    <summary>Mines</summary>
                    <div>
                        <p>
                            Difficulty Ranking:<br>
                        </p>
                    </div>
                </details>
            </div>
            <br>
            <div>
                <details>
                    <summary>Desert Valley</summary>
                    <div>
                        <p>
                            Difficulty Ranking:<br>
                            0/10: Glider<br>
                            1/10: Dune Buggy, Super Diesel, Rallycar, Musclecar, CC-EV, Bolt<br>
                            2/10: Jeep, Mk2, Sportscar, Racing Truck, Rotator, Chopper, Bus, Rock Bouncer, Raider<br>
                            3/10: Beast, Monster Truck, Tank, Hoverbike, Motocross, Tractor<br>
                            4/10: Supercar, Lowrider, Snowmobile, Scooter<br>
                            5/10: Superbike, Formula<br>
                            6/10: Hotrod, Monowheel, Moonlander<br><br>
                            <a href="https://www.youtube.com/watch?v=IClhMSp6SR8" target="_blank">Glider:</a> Landing Boost, Jump Shocks, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=KLfXGsd794s" target="_blank">Dune Buggy:</a> Overcharged Turbo, Wings, Thrusters<br>
                            <a href="https://www.youtube.com/watch?v=ULVjcF_XJt8" target="_blank">Super Diesel:</a> Thrusters, Wings, Jump Shocks<br>
                            <a href="https://www.youtube.com/watch?v=-_J33T2wh7M" target="_blank">Rallycar:</a> Overcharged Turbo, Wings, Coin Boost<br>
                            <a href="https://www.youtube.com/watch?v=vxmXwcBtG8Q" target="_blank">Musclecar:</a> Jump Shocks, Wings, Nitro<br>
                            <a href="https://www.youtube.com/watch?v=7CvMEJjGp08" target="_blank">CC-EV:</a> Landing Boost, Wings, Jump Shocks<br>
                            <a href="https://www.youtube.com/watch?v=sFgygxQHg24" target="_blank">Bolt:</a> Nitro, Wings, Jump Shocks<br>
                            <a href="https://www.youtube.com/watch?v=JKNYiv0MulI" target="_blank">Jeep:</a> Thrusters, Wings, Jump Shocks<br>
                            <a href="https://www.youtube.com/watch?v=Wdwvc6v_YCw" target="_blank">Mk2:</a> Thrusters, Wings, Jump Shocks<br>
                            <a href="https://www.youtube.com/watch?v=yZfI2uiGY-U" target="_blank">Sports Car:</a> Landing Boost, Wings, Jump Shocks<br>
                            <a href="https://www.youtube.com/watch?v=K0kevpSc0U8" target="_blank">Racing Truck:</a> Thrusters, Wings, Jump Shocks<br>
                            <a href="https://www.youtube.com/watch?v=N7XD4ZAeNfw" target="_blank">Rotator:</a> Thrusters, Wings, Nitro<br>
                            <a href="https://www.youtube.com/watch?v=Oj8OAuJHoLk" target="_blank">Chopper:</a> Landing Boost, Wings, Thrusters<br>
                            <a href="https://www.youtube.com/watch?v=OhzbgChM2jI" target="_blank">Bus:</a> Thrusters, Wings, Jump Shocks<br>
                            <a href="https://www.youtube.com/watch?v=zBMSLKpSG1s" target="_blank">Rock Bouncer:</a> Jump Shocks, Wings, Nitro<br>
                            <a href="https://www.youtube.com/watch?v=OFATZ7Wurt4" target="_blank">Raider:</a> Winter Tires, Wings, Jump Shocks<br>
                            <a href="https://www.youtube.com/watch?v=IUd7XhvQ8lY" target="_blank">Beast:</a> Thrusters, Wings, Nitro<br>
                            <a href="https://www.youtube.com/watch?v=yQ6_FCpJhyA" target="_blank">Monster Truck:</a> Thrusters, Wings, Jump Shocks<br>
                            <a href="https://www.youtube.com/watch?v=QZTJMb4CtE4" target="_blank">Tank:</a> Thrusters, Wings, Nitro<br>
                            <a href="https://www.youtube.com/watch?v=Nx9XePdT3Kg" target="_blank">Hoverbike:</a> Coin Boost, Nitro, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=63vhO4hOzDg" target="_blank">Motocross:</a> Thrusters, Wings, Jump Shocks<br>
                            <a href="https://www.youtube.com/watch?v=IqKJJZivUj8" target="_blank">Tractor:</a> Overcharged Turbo, Nitro, Wings<br>
                            <a href="https://www.youtube.com/watch?v=aLM7PkC9SjQ" target="_blank">Supercar:</a> Landing Boost, Wings, Jump Shocks<br>
                            <a href="https://www.youtube.com/watch?v=7-eNvtyX4nk" target="_blank">Lowrider:</a> Overcharged Turbo, Wings, Nitro<br>
                            <a href="https://www.youtube.com/watch?v=T5sFtykBFhY" target="_blank">Snowmobile:</a> Overcharged Turbo, Wings, Fume Boost<br>
                            <a href="https://www.youtube.com/watch?v=LzH962zgmVE" target="_blank">Scooter:</a> Landing Boost, Wings, Jump Shocks<br>
                            <a href="https://www.youtube.com/watch?v=iLpShSrzubA" target="_blank">Superbike:</a> Coin Boost, Wings, Overcharged Turbo<br>
                            <a href="https://www.youtube.com/watch?v=b3J7vZFXE7I" target="_blank">Formula:</a> Landing Boost, Wings, Jump Shocks<br>
                            <a href="https://www.youtube.com/watch?v=2EQiTsjtySc" target="_blank">Hotrod:</a> Landing Boost, Jump Shocks, Coin Boost<br>
                            <a href="https://www.youtube.com/watch?v=Q56B98KhvSc" target="_blank">Monowheel:</a> Thrusters, Wings, Jump Shocks<br>
                            <a href="https://www.youtube.com/watch?v=ulIn6mft6YA" target="_blank">Moonlander:</a> Coin Boost, Fume Boost, Magnet<br>
                        </p>
                    </div>
                </details>
            </div>
            <br>
            <div>
                <details>
                    <summary>Beach</summary>
                    <div>
                        <p>
                            Difficulty Ranking:<br>
                        </p>
                    </div>
                </details>
            </div>
            <br>
            <div>
                <details>
                    <summary>Backwater Bog</summary>
                    <div>
                        <p>
                            Difficulty Ranking:<br>
                            0/10: Glider, Rallycar, Raider, Musclecar, Super Diesel, CC-EV, Rock Bouncer<br>
                            1/10: Dune Buggy, Racing Truck, Monster Truck, Tank, Bus, Bolt<br>
                            2/10: Rotator, Tractor<br>
                            3/10: Mk2, Hoverbike, Motocross, Scooter, Chopper<br>
                            4/10: Snowmobile, Beast<br>
                            5/10: Jeep<br>
                            6/10: Sportscar, Lowrider<br>
                            7/10: Formula, Monowheel<br>
                            8/10: Supercar<br>
                            9/10: Hotrod, Superbike<br>
                            10/10: Moonlander<br><br>
                            <a href="https://www.youtube.com/watch?v=nojOzgTgqtg" target="_blank">Glider:</a> Jump Shocks, Magnet, Landing Boost<br>
                            <a href="https://www.youtube.com/watch?v=rkUM1KY_1vI" target="_blank">Rally Car:</a> Jump Shocks, Wings, Landing Boost<br>
                            <a href="https://www.youtube.com/watch?v=tUCSiNKZplw" target="_blank">Raider:</a> Jump Shocks, Wings, Winter Tires<br>
                            <a href="https://www.youtube.com/watch?v=G2jQ3YhoAAc" target="_blank">Muscle Car:</a> Jump Shocks, Wings, Landing Boost<br>
                            <a href="https://www.youtube.com/watch?v=1H8694wSLhI" target="_blank">Super Diesel:</a> Jump Shocks, Wings, Landing Boost<br>
                            <a href="https://www.youtube.com/watch?v=KqOSlh6gVQI" target="_blank">CC-EV:</a> Jump Shocks, Wings, Landing Boost<br>
                            <a href="https://www.youtube.com/watch?v=70I52d_dNsw" target="_blank">Rock Bouncer:</a> Jump Shocks, Wheelie Boost, Wings<br>
                            <a href="https://www.youtube.com/watch?v=l-ev-3hTqMY" target="_blank">Dune Buggy:</a> Jump Shocks, Magnet, Landing Boost<br>
                            <a href="https://www.youtube.com/watch?v=tvZ4jtOvqP8" target="_blank">Racing Truck:</a> Wheelie Boost, Wings, Coin Boost<br>
                            <a href="https://www.youtube.com/watch?v=V1qZABMT_rE" target="_blank">Monster Truck:</a> Wheelie Boost, Wings, Coin Boost<br>
                            <a href="https://www.youtube.com/watch?v=DgFq7Tbe2DQ" target="_blank">Tank:</a> Coin Boost, Wings, Landing Boost<br>
                            <a href="https://www.youtube.com/watch?v=xYp8qcpju0w" target="_blank">Bus:</a> Magnet, Wings, Fume Boost<br>
                            <a href="" target="_blank">Bolt:</a> Jump Shocks, Wings, Landing Boost<br>
                            <a href="https://www.youtube.com/watch?v=Ic4zr9fC07M" target="_blank">Jeep:</a> Jump Shocks, Wings, Landing Boost<br>
                            <a href="https://www.youtube.com/watch?v=QPPMZ2d5H0M" target="_blank">Tractor:</a> Coin Boost, Wings, Fume Boost<br>
                            <a href="https://www.youtube.com/watch?v=IPXepEbsJ9Q" target="_blank">Mk2:</a> Coin Boost, Wings, Fume Boost<br>
                            <a href="https://www.youtube.com/watch?v=j6uA_l1qGno" target="_blank">Rotator:</a> Coin Boost, Wings, Fume Boost<br>
                            <a href="https://www.youtube.com/watch?v=1PnUk6SZxos" target="_blank">Hoverbike:</a> Overcharged Turbo, Magnet, Fume Boost<br>
                            <a href="https://www.youtube.com/watch?v=PzSw-m870kg" target="_blank">Motocross:</a> Jump Shocks, Wings, Landing Boost<br>
                            <a href="https://www.youtube.com/watch?v=tqLiq6y-XMg" target="_blank">Scooter:</a> Jump Shocks, Wings, Landing Boost<br>
                            <a href="https://www.youtube.com/watch?v=StdRAktdSWo" target="_blank">Sports Car:</a> Jump Shocks, Wings, Landing Boost<br>
                            <a href="https://www.youtube.com/watch?v=HAiHqemgBkg" target="_blank">Lowrider:</a> Coin Boost, Wings, Landing Boost<br>
                            <a href="https://www.youtube.com/watch?v=cMnDvHc_3kM" target="_blank">Chopper:</a> Fume Boost, Wings, Landing Boost<br>
                            <a href="https://www.youtube.com/watch?v=feQJiq-Xuf8" target="_blank">Beast:</a> Jump Shocks, Wings, Winter Tires<br>
                            <a href="https://www.youtube.com/watch?v=0eGLn1dwyNU" target="_blank">Snowmobile:</a> Overcharged Turbo, Wings, Fume Boost<br>
                            <a href="https://www.youtube.com/watch?v=SrXtMPfqLGI" target="_blank">Formula:</a> Jump Shocks, Wings, Landing Boost<br>
                            <a href="https://www.youtube.com/watch?v=FLDHkBbOXu4" target="_blank">Monowheel</a> Jump Shocks, Wings, Fume Boost<br>
                            <a href="https://www.youtube.com/watch?v=XRTJN-tmqRk" target="_blank">Supercar:</a> Jump Shocks, Landing Boost, Wings<br>
                            <a href="https://www.youtube.com/watch?v=cZlBa7w-MaE" target="_blank">Hotrod:</a> Jump Shocks, Coin Boost, Landing Boost<br>
                            <a href="https://www.youtube.com/watch?v=y07LpRfCmMA" target="_blank">Superbike:</a> Fume Boost, Wings, Coin Boost<br>
                            <a href="https://www.youtube.com/watch?v=FG3PFdn1Vsk" target="_blank">Moonlander:</a> Wheelie Boost, Coin Boost, Fume Boost<br>
                        </p>
                    </div>
                </details>
            </div>
            <br>
            <div>
                <details>
                    <summary>Racer Glacier</summary>
                    <div>
                        <p>
                            Difficulty Ranking:<br>
                        </p>
                    </div>
                </details>
            </div>
            <br>
            <div>
                <details>
                    <summary>Patchwork Plant</summary>
                    <div>
                        <p>
                            Difficulty Ranking:<br>
                        </p>
                    </div>
                </details>
            </div>
            <br>
            <div>
                <details>
                    <summary>Switchback Savanna</summary>
                    <div>
                        <p>
                            Difficulty Ranking:<br>
                            0/10: Super Diesel, Rallycar, Musclecar, Raider, Glider, CC-EV<br>
                            1/10: Dune Buggy, Racing Truck, Rock Bouncer, Hoverbike<br>
                            2/10: Scooter, Bus, Monster Truck, Bolt<br>
                            3/10: Tractor, Tank<br>
                            4/10: Jeep, Sportscar, Chopper, Monowheel, Beast<br>
                            5/10: Motocross, Rotator, Formula<br>
                            6/10: Mk2, Lowrider, Snowmobile<br>
                            7/10: <br>
                            8/10: Hotrod<br>
                            9/10: Superbike<br>
                            10/10:Supercar, Moonlander<br><br>
                            <a href="https://www.youtube.com/watch?v=PA3Foa3nOyc" target="_blank">Tutorial For Most Vehicles</a><br>
                            Super Diesel: Jump Shocks, Wings, Landing Boost<br>
                            Rally Car: Jump Shocks, Wings, Landing Boost<br>
                            Muscle Car: Jump Shocks, Wings, Landing Boost<br>
                            Raider: Jump Shocks, Wings, Landing Boost<br>
                            Dune Buggy: Jump Shocks, Wings, Landing Boost<br>
                            Racing Truck: Jump Shocks, Wings, Landing Boost<br>
                            Rock Bouncer: Jump Shocks, Wings, Wheelie Boost<br>
                            Hoverbike: Overcharged Turbo, Fume Boost, Coin Boost<br>
                            Scooter: Jump Shocks, Wings, Landing Boost<br>
                            Bus: Fume Boost, Wings, Thrusters<br>
                            Monster Truck: Jump Shocks, Wings, Wheelie Boost<br>
                            Tractor: Jump Shocks, Wings, Landing Boost<br>
                            Tank: Fume Boost, Wings, Thrusters<br>
                            Jeep: Jump Shocks, Wings, Landing Boost<br>
                            Sports Car: Jump Shocks, Wings, Landing Boost<br>
                            Chopper: Fume Boost, Wings, Thrusters<br>
                            Monowheel: Jump Shocks, Wings, Fume Boost, Nitro<br>
                            Beast: Jump Shocks, Wings, Nitro<br>
                            Motocross: Jump Shocks, Wings, Landing Boost<br>
                            Rotator: Wheelie Boost, Wings, Coin Boost<br>
                            Formula: Jump Shocks, Wings, Landing Boost<br>
                            Mk2: Jump Shocks, Wings, Landing Boost<br>
                            Lowrider: Landing Boost, Wings, Nitro or Coin Boost<br>
                            Snowmobile: Overcharged Turbo, Wings, Nitro<br>
                            Hotrod: Jump Shocks, Coin Boost, Landing Boost<br>
                            Superbike: Coin Boost, Wings, Nitro<br>
                            Supercar: Jump Shocks, Wings, Landing Boost or Coin Boost<br>
                            Moonlander: Wheelie Boost, Coin Boost, Landing Boost, Fume Boost<br>
                            CC-EV: Jump Shocks, Wings, Landing Boost<br>
                            Glider(no vid): Jump Shocks, Magnet, Landing Boost<br>
                            Bolt(no vid): Jump Shocks, Wings, Landing Boost<br>
                        </p>
                    </div>
                </details>
            </div>
            <br>
            <div>
                <details>
                    <summary>Gloomvale</summary>
                    <div>
                        <p>
                            Difficulty Ranking:<br>
                        </p>
                    </div>
                </details>
            </div>
            <br>
            <div>
                <details>
                    <summary>Overspill Fun Rig</summary>
                    <div>
                        <p>
                            Difficulty Ranking:<br>
                        </p>
                    </div>
                </details>
            </div>
            <br>
            <div>
                <details>
                    <summary>Canyon Arena</summary>
                    <div>
                        <p>
                            Difficulty Ranking:<br>
                        </p>
                    </div>
                </details>
            </div>
            <br>
            <div>
                <details>
                    <summary>Cuptown</summary>
                    <div>
                        <p>
                            Difficulty Ranking:<br>
                        </p>
                    </div>
                </details>
            </div>
            <br>
            <div>
                <details>
                    <summary>Moon</summary>
                    <div>
                        <p>
                            Difficulty Ranking:<br>
                        </p>
                    </div>
                </details>
            </div>
        </div>
    </div>

    <div>
        <table class="DeleteTable">
            <tr>
                <td>ID</td>
                <td>Map</td>
                <td>Vehicle</td>
                <td>Distance</td>
            </tr>
            {% for row in rows %}
            <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.map }}</td>
                <td>{{ row.vehicle }}</td>
                <td>{{ row.distance }}</td>
                <td><!--Delete a database input-->
                    <form action="{{url_for('delete_distance', id=row['id']) }}" method="post">
                        <input type="submit" value="Delete" onclick="return confirm('Delete?')">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}