{% extends 'layout.html' %}
{% block content %}
<div class="homepage">
    <div class="left">
        <!--Shows information about the easiest parts to use for 10k as well as tutorial videos-->
        <div class="Maps-Guide">
            <div>
                <details>
                    <summary>Possible maps to max ranked easiest to hardest</summary>
                    <div>
                        <p>
                            1.  Forest<br>
                            2.  Desert Valley<br>
                            3.  City<br>
                            4.  Bog<br>
                            5.  Winter<br>
                            6.  Reef<br>
                            7.  Moon<br>
                            8.  Mines<br>
                            9.  Savanna<br>
                            10. Beach<br>
                            11. Mountain<br>
                            12. Gloomvale<br>
                            13. Cuptown<br>
                            14. Countryside<br>
                            15. Overspill<br>
                            16. Patchwork<br>
                            17. Canyon Arena<br>
                            18. Racer Glacier <br>
                        </p>
                    </div>
                </details>
            </div>
            <div>
                <details>
                    <summary>Countryside</summary>
                    <div>
                        <p>
                            Difficulty Ranking:<br>
                            0/10: Glider
                            1/10: Super Diesel, Racing Truck, CC-EV, Rock Bouncer
                            2/10: Tank, Bus, Dune Buggy, Rallycar, Musclecar
                            3/10: Chopper, Tractor, Raider, Bolt
                            4/10: Motocross, Beast, Mk2, Jeep, Snowmobile, Scooter
                            5/10: Monster Truck, Hoverbike, Sportscar
                            6/10: Rotator, Lowrider
                            7/10: Formula
                            8/10: Monowheel, Hotrod
                            9/10: Superbike, Supercar
                            10/10:Moonlander
                            <a href="" target="_blank">Glider:</a> Landing Boost, Jump Shocks, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=3p_EoIcWX7Q" target="_blank">Super Diesel:</a> Landing Boost, Wings, Jump Shocks<br>
                            <a href="https://www.youtube.com/watch?v=UDCE3twzYE0" target="_blank">Racing Truck:</a> Fume Boost, Wings, Wheelie Boost<br>
                            <a href="https://www.youtube.com/watch?v=e2VRI35FPVQ" target="_blank">CC-EV:</a> Landing Boost, Wings, Jump Shocks<br>
                            <a href="https://www.youtube.com/watch?v=NysbnmAfiN0" target="_blank">Rock Bouncer:</a> Wheelie Boost, Wings, Coin Boost<br>
                            <a href="https://www.youtube.com/watch?v=Im77HO_3myc" target="_blank">Tank:</a> Wheelie Boost, Wings, Coin Boost<br>
                            <a href="https://www.youtube.com/watch?v=VvDSUO4ozn8" target="_blank">Bus:</a> Wheelie Boost, Wings, Fume Boost<br>
                            <a href="https://www.youtube.com/watch?v=OjnRbe5CauI" target="_blank">Dune Buggy:</a> Landing Boost, Wings, Jump Shocks<br>
                            <a href="https://www.youtube.com/watch?v=Gz0Bw2Jaz5A" target="_blank">Rally Car:</a> Landing Boost, Wings, Jump Shocks<br>
                            <a href="https://www.youtube.com/watch?v=dRRh4CM-6y0" target="_blank">Muscle Car:</a> Landing Boost, Wings, Jump Shocks<br>
                            <a href="https://www.youtube.com/watch?v=TP_moiRZqlA" target="_blank">Chopper:</a> Landing Boost, Wings, Wheelie Boost<br>
                            <a href="" target="_blank">Tractor:</a> Landing Boost, Wings, Jump Shocks<br>
                            <a href="" target="_blank">Raider:</a> Winter Tires(or Landing Boost), Wings, Magnet<br>
                            <a href="" target="_blank">Bolt:</a> Winter Tires(or Landing Boost), Wings, Magnet<br>
                            <a href="" target="_blank">Motocross:</a> Winter Tires(or Landing Boost), Wings, Magnet<br>
                            <a href="" target="_blank">Beast:</a> Winter Tires(or Landing Boost), Wings, Magnet<br>
                            <a href="" target="_blank">Mk2:</a> Winter Tires(or Landing Boost), Wings, Magnet<br>
                            <a href="" target="_blank">Jeep:</a> Winter Tires(or Landing Boost), Wings, Magnet<br>
                            <a href="" target="_blank">Snowmobile:</a> Winter Tires(or Landing Boost), Wings, Magnet<br>
                            <a href="" target="_blank">Scooter:</a> Winter Tires(or Landing Boost), Wings, Magnet<br>
                            <a href="" target="_blank">Monster Truck:</a> Winter Tires(or Landing Boost), Wings, Magnet<br>
                            <a href="" target="_blank">Hoverbike:</a> Winter Tires(or Landing Boost), Wings, Magnet<br>
                            <a href="" target="_blank">Sports Car:</a> Winter Tires(or Landing Boost), Wings, Magnet<br>
                            <a href="" target="_blank">Rotator:</a> Winter Tires(or Landing Boost), Wings, Magnet<br>
                            <a href="" target="_blank">Lowrider:</a> Winter Tires(or Landing Boost), Wings, Magnet<br>
                            <a href="" target="_blank">Formula:</a> Winter Tires(or Landing Boost), Wings, Magnet<br>
                            <a href="" target="_blank">Monowheel:</a> Winter Tires(or Landing Boost), Wings, Magnet<br>
                            <a href="" target="_blank">Hotrod:</a> Winter Tires(or Landing Boost), Wings, Magnet<br>
                            <a href="" target="_blank">Superbike:</a> Winter Tires(or Landing Boost), Wings, Magnet<br>
                            <a href="" target="_blank">Supercar:</a> Winter Tires(or Landing Boost), Wings, Magnet<br>
                            <a href="" target="_blank">Moonlander:</a> Winter Tires(or Landing Boost), Wings, Magnet<br>
                        </p>
                    </div>
                </details>
            </div>
            <br>
            <div>
                <details>
                    <summary>Forest</summary>
                    <div>
                        <p>
                            Difficulty Ranking:<br>
                            0/10: Rallycar, CC-EV, Super Diesel, Dune Buggy, Musclecar, Rock Bouncer, Tank<br>
                            1/10: Glider, Racing Truck, Tractor, Raider<br>
                            2/10: Mk2, Chopper, Jeep, Rotator, Monster Truck, Sportscar, Bolt, Bus<br>
                            3/10: Snowmobile, Scooter, Beast, Lowrider, Supercar, Superbike, Hoverbike<br>
                            4/10: Motocross<br>
                            5/10: Monowheel, Formula, Moonlander, Hotrod<br><br>
                            Easiest Setup: 😒<br>
                            <a href="https://www.youtube.com/watch?v=sT-1vsPoYOg" target="_blank">Rallycar:</a> Winter Tires, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=VYMvbT7sT-8" target="_blank">CC-EV:</a> Winter Tires(or Landing Boost), Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=M5pzKKVZifc" target="_blank">Super Diesel:</a> Wheelie Boost, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=IvFBWzwDBm4" target="_blank">Dune Buggy:</a> Coin Boost, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=SkgBWBGDB7I" target="_blank">Muscle Car:</a> Winter Tires, Wings, Coin Boost(or Magnet)<br>
                            <a href="https://www.youtube.com/watch?v=oSERfEBL77g" target="_blank">Rock Bouncer:</a> Wheelie Boost, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=-rnlAlOpsWo" target="_blank">Tank:</a> Cage, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=AHDzTdxTC0E" target="_blank">Glider:</a> Landing Boost, Jump Shocks, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=LiBBpDDfadE" target="_blank">Racing Truck:</a> Wheelie Boost, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=XdqsxYiJhq0" target="_blank">Tractor:</a> Winter Tires, Wings, Cage<br>
                            <a href="https://www.youtube.com/watch?v=-CAXFNZ7nJ4" target="_blank">Raider:</a> Winter Tires, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=ur8-5YPdYhc" target="_blank">Mk2:</a> Landing Boost, Wings, Jump Shocks<br>
                            <a href="https://www.youtube.com/watch?v=X8dwzc0XGJc" target="_blank">Chopper:</a> Landing Boost, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=rzGHGiaCY9c" target="_blank">Jeep:</a> Landing Boost, Wings, Jump Shocks<br>
                            <a href="https://www.youtube.com/watch?v=9NFeHro4K8o" target="_blank">Rotator:</a> Coin Boost, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=TIvWd4O4jaY" target="_blank">Monster Truck:</a> Wheelie Boost, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=-BuSJbSffAo" target="_blank">Sports Car:</a> Overcharged Turbo, Wings, Fume Boost<br>
                            <a href="https://www.youtube.com/watch?v=NcJgYjYs9D4" target="_blank">Bolt:</a> Overcharged Turbo, Wings, Jump Shocks<br>
                            <a href="https://www.youtube.com/watch?v=i--r3pnJt1E" target="_blank">Bus:</a> Overcharged Turbo, Wings, Fume Boost<br>
                            <a href="https://www.youtube.com/watch?v=nmjnFj_f9ds" target="_blank">Snowmobile:</a> Rollcage, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=xrHX4QYnqb8" target="_blank">Scooter:</a> Winter Tires, Wings, Landing Boost<br>
                            <a href="https://www.youtube.com/watch?v=Jz_64j3jwsw" target="_blank">Beast:</a> Winter Tires, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=jlaQbnUBDRQ" target="_blank">Lowrider:</a> Winter Tires, Wings, Coin Boost<br>
                            <a href="https://www.youtube.com/watch?v=k99N4t_j2Q0" target="_blank">Super Car:</a> Coin Boost, Wings, Winter Tires<br>
                            <a href="https://www.youtube.com/watch?v=RF1UgCZ5bpw" target="_blank">Superbike:</a> Coin Boost, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=iEbUAI2b2cc" target="_blank">Hoverbike:</a> Rollcage, Fume Boost, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=QmpVdWJdoPE" target="_blank">Motocross:</a> Landing Boost, Wings, Wheelie Boost<br>
                            <a href="https://www.youtube.com/watch?v=zz7Ut32ZNg0" target="_blank">Monowheel:</a> Jump Shocks, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=_dOe_zzHU38" target="_blank">Formula:</a> Winter Tires, Wings, Overcharged Turbo<br>
                            <a href="https://www.youtube.com/watch?v=kre6oLJMcec" target="_blank">Moonlander:</a> Coin Boost, Wheelie Boost, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=77NyHL9KGnM" target="_blank">Hotrod:</a> Landing Boost, Coin Boost, Jump Shocks<br>
                        </p>
                    </div>
                </details>
            </div>
            <br>
            <div>
                <details>
                    <summary>City</summary>
                    <div>
                        <p>
                            Difficulty Ranking:<br>
                            1/10: Glider<br>
                            2/10: <br>
                            3/10: Dune Buggy, Super Diesel, Rallycar, Musclecar, CC-EV<br>
                            4/10: Jeep, Racing Truck, Monster Truck, Rotator, Chopper, Tank, Bus, Raider<br>
                            5/10: Mk2, Lowrider, Beast, Rock Bouncer, Hoverbike, Bolt, Snowmobile, Motocross, Tractor, Scooter<br>
                            6/10: Supercar, Hotrod, Formula<br>
                            7/10: Superbike, Moonlander, Monowheel<br>
                            8/10: Sportscar<br><br>
                            Easiest Setup: 😒<br>
                            <a href="https://www.youtube.com/watch?v=7cEuZAW6vUo" target="_blank">Glider:</a> Landing Boost, Jump Shocks, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=bnmLrcPMxPA" target="_blank">Dune Buggy:</a> Thrusters, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=3x1dolCfYPU" target="_blank">Super Diesel:</a> Jump Shocks, Wings, Thrusters<br>
                            <a href="https://www.youtube.com/watch?v=c-sjPFWWd4c" target="_blank">Rally Car:</a> Jump Shocks, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=zPC9LKzTfVI" target="_blank">Muscle Car:</a> Jump Shocks, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=PA3Foa3nOyc" target="_blank">CC-EV:</a> Jump Shocks, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=FmV9I2opsKk" target="_blank">Jeep:</a> Jump Shocks, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=dIZD7thNtFo" target="_blank">Racing Truck:</a> Thrusters, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=v8XoaV085FM" target="_blank">Monster Truck:</a> Jump Shocks, Wings, Thrusters<br>
                            <a href="https://www.youtube.com/watch?v=lN06Cgb9FbU" target="_blank">Rotator:</a> Thrusters, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=k7NzTh776z4" target="_blank">Chopper:</a> Thrusters, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=VX2M71Z91TA" target="_blank">Tank:</a> Thrusters, Wings, Jump Shocks<br>
                            <a href="https://www.youtube.com/watch?v=tfOoIoF5N8s" target="_blank">Bus:</a> Thrusters, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=Py1EmhPas3Q" target="_blank">Raider:</a> Jump Shocks, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=_21SAaRYUzc" target="_blank">Mk2:</a> Jump Shocks, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=Ak_HBkajqy8" target="_blank">Lowrider:</a> Nitro, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=vJrpw7uyTz0" target="_blank">Beast:</a> Thrusters, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=KDnmlM-YEJY" target="_blank">Rock Bouncer:</a> Thrusters, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=ijmJX1MdMxk" target="_blank">Hoverbike:</a> Nitro, Fume Boost, Magnet<br>
                            <a href="" target="_blank">Bolt:</a> Jump Shocks, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=eHtpy8eaC48" target="_blank">Snowmobile:</a> Rollcage, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=Dg3IIARioOk" target="_blank">Motocross:</a> Jump Shocks, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=s9MiICXQZFw" target="_blank">Tractor:</a> Jump Shocks, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=R76yKmS8x-Q" target="_blank">Scooter:</a> Jump Shocks, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=wXGIAU9AUdI" target="_blank">Super Car:</a> Jump Shocks, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=uTImGQWiXTw" target="_blank">Hotrod:</a> Jump Shocks, Winter Tires, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=m5MG6cWoudA" target="_blank">Formula:</a> Jump Shocks, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=szXbVkc2phM" target="_blank">Superbike:</a> Winter Tires, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=ldQDhQCQ7Es" target="_blank">Moonlander:</a> Coin Boost, Fume Boost, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=jgcIvs7n9dk" target="_blank">Monowheel:</a> Jump Shocks, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=3L2N6f1c24Y" target="_blank">Sports Car:</a> Jump Shocks, Wings, Landing Boost<br>
                        </p>
                    </div>
                </details>
            </div>
            <br>
            <div>
                <details>
                    <summary>Mountain</summary>
                    <div>
                        <p>
                            Difficulty Ranking:<br>
                            0/10: 
                            1/10: 
                            2/10: 
                            3/10: 
                            4/10: 
                            5/10: 
                            6/10: 
                            7/10: 
                            8/10: 
                            9/10: 
                            10/10:
                            <a href="" target="_blank">:</a> Winter Tires, Coin Boost, Wings<br>
                            <a href="" target="_blank">:</a> Winter Tires, Coin Boost, Wings<br>
                            <a href="" target="_blank">:</a> Winter Tires, Coin Boost, Wings<br>
                            <a href="" target="_blank">:</a> Winter Tires, Coin Boost, Wings<br>
                            <a href="" target="_blank">:</a> Winter Tires, Coin Boost, Wings<br>
                            <a href="" target="_blank">:</a> Winter Tires, Coin Boost, Wings<br>
                            <a href="" target="_blank">:</a> Winter Tires, Coin Boost, Wings<br>
                            <a href="" target="_blank">:</a> Winter Tires, Coin Boost, Wings<br>
                            <a href="" target="_blank">:</a> Winter Tires, Coin Boost, Wings<br>
                            <a href="" target="_blank">:</a> Winter Tires, Coin Boost, Wings<br>
                            <a href="" target="_blank">:</a> Winter Tires, Coin Boost, Wings<br>
                            <a href="" target="_blank">:</a> Winter Tires, Coin Boost, Wings<br>
                            <a href="" target="_blank">:</a> Winter Tires, Coin Boost, Wings<br>
                            <a href="" target="_blank">:</a> Winter Tires, Coin Boost, Wings<br>
                            <a href="" target="_blank">:</a> Winter Tires, Coin Boost, Wings<br>
                            <a href="" target="_blank">:</a> Winter Tires, Coin Boost, Wings<br>
                            <a href="" target="_blank">:</a> Winter Tires, Coin Boost, Wings<br>
                            <a href="" target="_blank">:</a> Winter Tires, Coin Boost, Wings<br>
                            <a href="" target="_blank">:</a> Winter Tires, Coin Boost, Wings<br>
                            <a href="" target="_blank">:</a> Winter Tires, Coin Boost, Wings<br>
                            <a href="" target="_blank">:</a> Winter Tires, Coin Boost, Wings<br>
                            <a href="" target="_blank">:</a> Winter Tires, Coin Boost, Wings<br>
                            <a href="" target="_blank">:</a> Winter Tires, Coin Boost, Wings<br>
                            <a href="" target="_blank">:</a> Winter Tires, Coin Boost, Wings<br>
                            <a href="" target="_blank">:</a> Winter Tires, Coin Boost, Wings<br>
                            <a href="" target="_blank">:</a> Winter Tires, Coin Boost, Wings<br>
                            <a href="" target="_blank">:</a> Winter Tires, Coin Boost, Wings<br>
                            <a href="" target="_blank">:</a> Winter Tires, Coin Boost, Wings<br>
                            <a href="" target="_blank">:</a> Winter Tires, Coin Boost, Wings<br>
                            <a href="" target="_blank">:</a> Winter Tires, Coin Boost, Wings<br>
                            <a href="" target="_blank">:</a> Winter Tires, Coin Boost, Wings<br>
                        </p>
                    </div>
                </details>
            </div>
            <br>
            <div>
                <details>
                    <summary>Rustbucket Reef</summary>
                    <div>
                        <p>
                            Difficulty Ranking:<br>
                        </p>
                    </div>
                </details>
            </div>
            <br>
            <div>
                <details>
                    <summary>Winter</summary>
                    <div>
                        <p>
                            Difficulty Ranking:<br>
                            1/10: 
                            2/10: 
                            3/10: 
                            4/10: 
                            5/10: 
                            6/10: 
                            7/10: 
                            8/10: 
                            9/10: 
                            10/10:
                            <a href="https://www.youtube.com/watch?v=plYvr2Rx68g" target="_blank">Dune Buggy:</a> Winter Tires, Coin Boost, Wings<br>
                            <a href="https://www.youtube.com/watch?v=KhfXcxfwe3M" target="_blank">Super Diesel:</a> Jump Shocks, Wings, Landing Boost<br>
                            <a href="https://www.youtube.com/watch?v=QN2qG-G7aX0" target="_blank">Rally Car:</a> Winter Tires, Coin Boost, Wings<br>
                            <a href="https://www.youtube.com/watch?v=1Z8yKu0QyXk" target="_blank">Racing Truck:</a> Winter Tires, Wheelie Boost, Wings<br>
                            <a href="https://www.youtube.com/watch?v=-RfJe2LiPM8" target="_blank">Muscle Car:</a> Fume Boost, Winter Tires, Wings<br>
                            <a href="https://www.youtube.com/watch?v=MGeY6NwuQzk" target="_blank">CC-EV:</a> Landing Boost, Jump Shocks, Wings<br>
                            <a href="https://www.youtube.com/watch?v=chrI7QXWuYo" target="_blank">Rock Bouncer:</a> Wheelie Boost, Fume Boost, Wings<br>
                            <a href="https://www.youtube.com/watch?v=ZYequ7oQeK0" target="_blank">Raider:</a> Winter Tires, Wings, Coin Boost<br>
                            <a href="" target="_blank">Glider:</a> Landing Boost, Jump Shocks, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=SBINUqqX1IE" target="_blank">Tank:</a> Wheelie Boost, Fume Boost, Wings<br>
                            <a href="https://www.youtube.com/watch?v=k5b5AHREPS8" target="_blank">Bus:</a> Overcharged Turbo, Fume Boost, Wings<br>
                            <a href="" target="_blank">Bolt:</a> Landing Boost, Jump Shocks, Wings<br>
                            <a href="https://www.youtube.com/watch?v=XH5C87L-4Ng" target="_blank">Jeep:</a> Landing Boost, Jump Shocks, Wings<br>
                            <a href="https://www.youtube.com/watch?v=4zhjseqovWs" target="_blank">Monster Truck:</a> Wings, Coin Boost, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=6nTxRVvksCA" target="_blank">Rotator:</a> Coin Boost, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=wsVBroFI8IE" target="_blank">Chopper:</a> Landing Boost, Wings, Fume Boost<br>
                            <a href="https://www.youtube.com/watch?v=FY9BpnwFq00" target="_blank">Tractor:</a> Coin Boost, Winter Tires, Wings<br>
                            <a href="https://www.youtube.com/watch?v=npQy0yU36pE" target="_blank">Scooter:</a> Landing Boost, Jump Shocks, Wings<br>
                            <a href="https://www.youtube.com/watch?v=naYwp99Mhbk" target="_blank">Mk2:</a> Landing Boost, Jump Shocks, Wings<br>
                            <a href="https://www.youtube.com/watch?v=z18UD5PIKX4" target="_blank">Hoverbike:</a> Overcharged Turbo, Coin Boost, Fume Boost<br>
                            <a href="https://www.youtube.com/watch?v=lVN4N7SKF5o" target="_blank">Beast:</a> Winter Tires, Coin Boost, Wings<br>
                            <a href="https://www.youtube.com/watch?v=pjGQiSiIIRA" target="_blank">Sports Car:</a> Landing Boost, Jump Shocks, Wings<br>
                            <a href="https://www.youtube.com/watch?v=lPrrcU95Rbg" target="_blank">Snowmobile:</a> Coin Boost, Wings, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=SVDvFYBSb3o" target="_blank">Motocross:</a> Landing Boost, Jump Shocks, Wings<br>
                            <a href="https://www.youtube.com/watch?v=aGdFvrfS4SM" target="_blank">Lowrider:</a> Landing Boost, Coin Boost, Wings<br>
                            <a href="https://www.youtube.com/watch?v=RRlvDHCAXSg" target="_blank">Formula:</a> Landing Boost, Jump Shocks, Wings<br>
                            <a href="https://www.youtube.com/watch?v=iD4DLB4PsEE" target="_blank">Monowheel:</a> Fume Boost, Jump Shocks, Wings<br>
                            <a href="https://www.youtube.com/watch?v=BWYEqTodYQM" target="_blank">Superbike:</a> Coin Boost, Fume Boost, Wings<br>
                            <a href="https://www.youtube.com/watch?v=k8hBywRlHwY" target="_blank">Supercar:</a> Landing Boost, Jump Shocks, Wings<br>
                            <a href="https://www.youtube.com/watch?v=5yyowABfPuQ" target="_blank">Hotrod:</a> Landing Boost, Jump Shocks, Coin Boost<br>
                            <a href="" target="_blank">Moonlander:</a> Wheelie Boost, Coin Boost, Fume Boost<br>
                        </p>
                    </div>
                </details>
            </div>
            <br>
            <div>
                <details>
                    <summary>Mines</summary>
                    <div>
                        <p>
                            Difficulty Ranking:<br>
                        </p>
                    </div>
                </details>
            </div>
            <br>
            <div>
                <details>
                    <summary>Desert Valley</summary>
                    <div>
                        <p>
                            Difficulty Ranking:<br>
                            0/10: Glider<br>
                            1/10: Dune Buggy, Super Diesel, Rallycar, Musclecar, CC-EV, Bolt<br>
                            2/10: Jeep, Mk2, Sportscar, Racing Truck, Rotator, Chopper, Bus, Rock Bouncer, Raider<br>
                            3/10: Beast, Monster Truck, Tank, Hoverbike, Motocross, Tractor<br>
                            4/10: Supercar, Lowrider, Snowmobile, Scooter<br>
                            5/10: Superbike, Formula<br>
                            6/10: Hotrod, Monowheel, Moonlander<br><br>
                            <a href="https://www.youtube.com/watch?v=IClhMSp6SR8" target="_blank">Glider:</a> Landing Boost, Jump Shocks, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=KLfXGsd794s" target="_blank">Dune Buggy:</a> Overcharged Turbo, Wings, Thrusters<br>
                            <a href="https://www.youtube.com/watch?v=ULVjcF_XJt8" target="_blank">Super Diesel:</a> Thrusters, Wings, Jump Shocks<br>
                            <a href="https://www.youtube.com/watch?v=-_J33T2wh7M" target="_blank">Rallycar:</a> Overcharged Turbo, Wings, Coin Boost<br>
                            <a href="https://www.youtube.com/watch?v=vxmXwcBtG8Q" target="_blank">Musclecar:</a> Jump Shocks, Wings, Nitro<br>
                            <a href="https://www.youtube.com/watch?v=7CvMEJjGp08" target="_blank">CC-EV:</a> Landing Boost, Wings, Jump Shocks<br>
                            <a href="https://www.youtube.com/watch?v=sFgygxQHg24" target="_blank">Bolt:</a> Nitro, Wings, Jump Shocks<br>
                            <a href="https://www.youtube.com/watch?v=JKNYiv0MulI" target="_blank">Jeep:</a> Thrusters, Wings, Jump Shocks<br>
                            <a href="https://www.youtube.com/watch?v=Wdwvc6v_YCw" target="_blank">Mk2:</a> Thrusters, Wings, Jump Shocks<br>
                            <a href="https://www.youtube.com/watch?v=yZfI2uiGY-U" target="_blank">Sports Car:</a> Landing Boost, Wings, Jump Shocks<br>
                            <a href="https://www.youtube.com/watch?v=K0kevpSc0U8" target="_blank">Racing Truck:</a> Thrusters, Wings, Jump Shocks<br>
                            <a href="https://www.youtube.com/watch?v=N7XD4ZAeNfw" target="_blank">Rotator:</a> Thrusters, Wings, Nitro<br>
                            <a href="https://www.youtube.com/watch?v=Oj8OAuJHoLk" target="_blank">Chopper:</a> Landing Boost, Wings, Thrusters<br>
                            <a href="https://www.youtube.com/watch?v=OhzbgChM2jI" target="_blank">Bus:</a> Thrusters, Wings, Jump Shocks<br>
                            <a href="https://www.youtube.com/watch?v=zBMSLKpSG1s" target="_blank">Rock Bouncer:</a> Jump Shocks, Wings, Nitro<br>
                            <a href="https://www.youtube.com/watch?v=OFATZ7Wurt4" target="_blank">Raider:</a> Winter Tires, Wings, Jump Shocks<br>
                            <a href="https://www.youtube.com/watch?v=IUd7XhvQ8lY" target="_blank">Beast:</a> Thrusters, Wings, Nitro<br>
                            <a href="https://www.youtube.com/watch?v=yQ6_FCpJhyA" target="_blank">Monster Truck:</a> Thrusters, Wings, Jump Shocks<br>
                            <a href="https://www.youtube.com/watch?v=QZTJMb4CtE4" target="_blank">Tank:</a> Thrusters, Wings, Nitro<br>
                            <a href="https://www.youtube.com/watch?v=Nx9XePdT3Kg" target="_blank">Hoverbike:</a> Coin Boost, Nitro, Magnet<br>
                            <a href="https://www.youtube.com/watch?v=63vhO4hOzDg" target="_blank">Motocross:</a> Thrusters, Wings, Jump Shocks<br>
                            <a href="https://www.youtube.com/watch?v=IqKJJZivUj8" target="_blank">Tractor:</a> Overcharged Turbo, Nitro, Wings<br>
                            <a href="https://www.youtube.com/watch?v=aLM7PkC9SjQ" target="_blank">Supercar:</a> Landing Boost, Wings, Jump Shocks<br>
                            <a href="https://www.youtube.com/watch?v=7-eNvtyX4nk" target="_blank">Lowrider:</a> Overcharged Turbo, Wings, Nitro<br>
                            <a href="https://www.youtube.com/watch?v=T5sFtykBFhY" target="_blank">Snowmobile:</a> Overcharged Turbo, Wings, Fume Boost<br>
                            <a href="https://www.youtube.com/watch?v=LzH962zgmVE" target="_blank">Scooter:</a> Landing Boost, Wings, Jump Shocks<br>
                            <a href="https://www.youtube.com/watch?v=iLpShSrzubA" target="_blank">Superbike:</a> Coin Boost, Wings, Overcharged Turbo<br>
                            <a href="https://www.youtube.com/watch?v=b3J7vZFXE7I" target="_blank">Formula:</a> Landing Boost, Wings, Jump Shocks<br>
                            <a href="https://www.youtube.com/watch?v=2EQiTsjtySc" target="_blank">Hotrod:</a> Landing Boost, Jump Shocks, Coin Boost<br>
                            <a href="https://www.youtube.com/watch?v=Q56B98KhvSc" target="_blank">Monowheel:</a> Thrusters, Wings, Jump Shocks<br>
                            <a href="https://www.youtube.com/watch?v=ulIn6mft6YA" target="_blank">Moonlander:</a> Coin Boost, Fume Boost, Magnet<br>
                        </p>
                    </div>
                </details>
            </div>
            <br>
            <div>
                <details>
                    <summary>Beach</summary>
                    <div>
                        <p>
                            Difficulty Ranking:<br>
                        </p>
                    </div>
                </details>
            </div>
            <br>
            <div>
                <details>
                    <summary>Backwater Bog</summary>
                    <div>
                        <p>
                            Difficulty Ranking:<br>
                            0/10: Glider, Rallycar, Raider, Musclecar, Super Diesel, CC-EV, Rock Bouncer<br>
                            1/10: Dune Buggy, Racing Truck, Monster Truck, Tank, Bus, Bolt<br>
                            2/10: Rotator, Tractor<br>
                            3/10: Mk2, Motocross, Scooter, Chopper<br>
                            4/10: Snowmobile, Beast, Hoverbike<br>
                            5/10: Jeep<br>
                            6/10: Sportscar<br>
                            7/10: Formula, Monowheel, Lowrider<br>
                            8/10: Supercar<br>
                            9/10: Hotrod, Superbike<br>
                            10/10:Moonlander<br><br>
                            <a href="https://www.youtube.com/watch?v=nojOzgTgqtg" target="_blank">Glider:</a> Jump Shocks, Magnet, Landing Boost<br>
                            <a href="https://www.youtube.com/watch?v=rkUM1KY_1vI" target="_blank">Rally Car:</a> Jump Shocks, Wings, Landing Boost<br>
                            <a href="https://www.youtube.com/watch?v=tUCSiNKZplw" target="_blank">Raider:</a> Jump Shocks, Wings, Winter Tires<br>
                            <a href="https://www.youtube.com/watch?v=G2jQ3YhoAAc" target="_blank">Muscle Car:</a> Jump Shocks, Wings, Landing Boost<br>
                            <a href="https://www.youtube.com/watch?v=1H8694wSLhI" target="_blank">Super Diesel:</a> Jump Shocks, Wings, Landing Boost<br>
                            <a href="https://www.youtube.com/watch?v=KqOSlh6gVQI" target="_blank">CC-EV:</a> Jump Shocks, Wings, Landing Boost<br>
                            <a href="https://www.youtube.com/watch?v=70I52d_dNsw" target="_blank">Rock Bouncer:</a> Jump Shocks, Wheelie Boost, Wings<br>
                            <a href="https://www.youtube.com/watch?v=l-ev-3hTqMY" target="_blank">Dune Buggy:</a> Jump Shocks, Magnet, Landing Boost<br>
                            <a href="https://www.youtube.com/watch?v=tvZ4jtOvqP8" target="_blank">Racing Truck:</a> Wheelie Boost, Wings, Coin Boost<br>
                            <a href="https://www.youtube.com/watch?v=V1qZABMT_rE" target="_blank">Monster Truck:</a> Wheelie Boost, Wings, Coin Boost<br>
                            <a href="https://www.youtube.com/watch?v=DgFq7Tbe2DQ" target="_blank">Tank:</a> Coin Boost, Wings, Landing Boost<br>
                            <a href="https://www.youtube.com/watch?v=xYp8qcpju0w" target="_blank">Bus:</a> Magnet, Wings, Fume Boost<br>
                            <a href="" target="_blank">Bolt:</a> Jump Shocks, Wings, Landing Boost<br>
                            <a href="https://www.youtube.com/watch?v=Ic4zr9fC07M" target="_blank">Jeep:</a> Jump Shocks, Wings, Landing Boost<br>
                            <a href="https://www.youtube.com/watch?v=QPPMZ2d5H0M" target="_blank">Tractor:</a> Coin Boost, Wings, Fume Boost<br>
                            <a href="https://www.youtube.com/watch?v=IPXepEbsJ9Q" target="_blank">Mk2:</a> Coin Boost, Wings, Fume Boost<br>
                            <a href="https://www.youtube.com/watch?v=j6uA_l1qGno" target="_blank">Rotator:</a> Coin Boost, Wings, Fume Boost<br>
                            <a href="https://www.youtube.com/watch?v=1PnUk6SZxos" target="_blank">Hoverbike:</a> Overcharged Turbo, Magnet, Fume Boost<br>
                            <a href="https://www.youtube.com/watch?v=PzSw-m870kg" target="_blank">Motocross:</a> Jump Shocks, Wings, Landing Boost<br>
                            <a href="https://www.youtube.com/watch?v=tqLiq6y-XMg" target="_blank">Scooter:</a> Jump Shocks, Wings, Landing Boost<br>
                            <a href="https://www.youtube.com/watch?v=StdRAktdSWo" target="_blank">Sports Car:</a> Jump Shocks, Wings, Landing Boost<br>
                            <a href="https://www.youtube.com/watch?v=HAiHqemgBkg" target="_blank">Lowrider:</a> Coin Boost, Wings, Landing Boost<br>
                            <a href="https://www.youtube.com/watch?v=cMnDvHc_3kM" target="_blank">Chopper:</a> Fume Boost, Wings, Landing Boost<br>
                            <a href="https://www.youtube.com/watch?v=feQJiq-Xuf8" target="_blank">Beast:</a> Jump Shocks, Wings, Winter Tires<br>
                            <a href="https://www.youtube.com/watch?v=0eGLn1dwyNU" target="_blank">Snowmobile:</a> Overcharged Turbo, Wings, Fume Boost<br>
                            <a href="https://www.youtube.com/watch?v=SrXtMPfqLGI" target="_blank">Formula:</a> Jump Shocks, Wings, Landing Boost<br>
                            <a href="https://www.youtube.com/watch?v=FLDHkBbOXu4" target="_blank">Monowheel</a> Jump Shocks, Wings, Fume Boost<br>
                            <a href="https://www.youtube.com/watch?v=XRTJN-tmqRk" target="_blank">Supercar:</a> Jump Shocks, Landing Boost, Wings<br>
                            <a href="https://www.youtube.com/watch?v=cZlBa7w-MaE" target="_blank">Hotrod:</a> Jump Shocks, Coin Boost, Landing Boost<br>
                            <a href="https://www.youtube.com/watch?v=y07LpRfCmMA" target="_blank">Superbike:</a> Fume Boost, Wings, Coin Boost<br>
                            <a href="https://www.youtube.com/watch?v=FG3PFdn1Vsk" target="_blank">Moonlander:</a> Wheelie Boost, Coin Boost, Fume Boost<br>
                        </p>
                    </div>
                </details>
            </div>
            <br>
            <div>
                <details>
                    <summary>Racer Glacier</summary>
                    <div>
                        <p>
                            Difficulty Ranking:<br>
                            0/10: 
                            1/10: 
                            2/10: 
                            3/10: Glider
                            4/10: Rallycar, Raider
                            5/10: Musclecar, CC-EV, Super Diesel, Tank, Racing Truck, Bus, Scooter
                            6/10: Motocross, Dune Buggy, Bolt, Snowmobile, Monster Truck, Rock Bouncer, Tractor, Chopper
                            7/10: Mk2, Jeep, Sportscar, Beast
                            8/10: Moonlander(eco thrust), Hoverbike, Rotator
                            9/10: Formula, Lowrider, Supercar, Monowheel, Hotrod
                            10/10:Superbike
                            <a href="" target="_blank">Glider:</a> Jump Shocks, Magnet, Landing Boost<br>
                            <a href="https://www.youtube.com/watch?v=HLIxKVibqxk" target="_blank">Rally Car:</a> Jump Shocks, Wings, Landing Boost<br>
                            <a href="https://www.youtube.com/watch?v=zXKk031a7uQ" target="_blank">Raider:</a> Jump Shocks, Wings, Winter Tires<br>
                            <a href="https://www.youtube.com/watch?v=HbFbZ8pumJs" target="_blank">Muscle Car:</a> Jump Shocks, Wings, Winter Tires<br>
                            <a href="https://www.youtube.com/watch?v=lozo1emhuFs" target="_blank">CC-EV:</a> Jump Shocks, Wings, Landing Boost<br>
                            <a href="https://www.youtube.com/watch?v=1MQ_WdsIgrQ" target="_blank">Super Diesel:</a> Jump Shocks, Wings, Fume Boost<br>
                            <a href="https://www.youtube.com/watch?v=_-Rn_nJgFLQ" target="_blank">Tank:</a> Jump Shocks, Wings, Landing Boost<br>
                            <a href="https://www.youtube.com/watch?v=0x52lsCD2KQ" target="_blank">Racing Truck:</a> Wheelie Boost, Wings, Jump Shocks<br>
                            <a href="https://www.youtube.com/watch?v=hp73Kv-0mpA" target="_blank">Bus:</a> Jump Shocks, Wings, Fume Boost<br>
                            <a href="https://www.youtube.com/watch?v=k3cyQS8yC20" target="_blank">Scooter:</a> Jump Shocks, Wings, Landing Boost<br>
                            <a href="" target="_blank">Motocross:</a> Jump Shocks, Magnet, Landing Boost<br>
                            <a href="https://www.youtube.com/watch?v=HLIxKVibqxk" target="_blank">Dune Buggy:</a> Jump Shocks, Wings, Landing Boost<br>
                            <a href="https://www.youtube.com/watch?v=68GRoWlKmFE" target="_blank">Bolt:</a> Jump Shocks, Wings, Landing Boost<br>
                            <a href="" target="_blank">Snowmobile:</a> Jump Shocks, Magnet, Landing Boost<br>
                            <a href="https://www.youtube.com/watch?v=bcVEDjmfilc" target="_blank">Monster Truck:</a> Coin Boost, Wings, Fume Boost<br>
                            <a href="https://www.youtube.com/watch?v=kIndeFt7ssw" target="_blank">Rock Bouncer:</a> Jump Shocks, Wings, Wheelie Boost<br>
                            <a href="https://www.youtube.com/watch?v=QdZXTfUfKUM" target="_blank">Tractor:</a> Jump Shocks, Wings, Fume Boost<br>
                            <a href="https://www.youtube.com/watch?v=PCZ94DbVQao" target="_blank">Chopper:</a> Fume Boost, Wings, Landing Boost<br>
                            <a href="https://www.youtube.com/watch?v=AvZni7uKE1s" target="_blank">Mk2:</a> Jump Shocks, Wings, Landing Boost<br>
                            <a href="https://www.youtube.com/watch?v=s-UaXc0d32Q" target="_blank">Jeep:</a> Jump Shocks, Magnet, Landing Boost<br>
                            <a href="https://www.youtube.com/watch?v=Nikeo6J3H78" target="_blank">Sports Car:</a> Jump Shocks, Wings, Landing Boost, Fume Boost<br>
                            <a href="https://www.youtube.com/watch?v=pr4Ea92TKFQ" target="_blank">Beast:</a> Winter Tires, Wings, Nitro<br>
                            <a href="" target="_blank">Moonlander:</a> Jump Shocks, Magnet, Landing Boost<br>
                            <a href="https://www.youtube.com/watch?v=JkRaVrMlqBg" target="_blank">Hoverbike:</a> Coin Boost, Magnet, FUme Boost, Nitro<br>
                            <a href="https://www.youtube.com/watch?v=oOi3TW9-gqA" target="_blank">Rotator:</a> Wings, Coin Boost, Fume Boost<br>
                            <a href="" target="_blank">Formula:</a> Jump Shocks, Magnet, Landing Boost<br>
                            <a href="https://www.youtube.com/live/UiXcGLLxkrY?si=ABGbvWXJouGunjIh&t=12274" target="_blank">Lowrider:</a> Coin Boost, Wings, Landing Boost, Fume Boost<br>
                            <a href="https://www.youtube.com/watch?v=BS7RTaU-rho" target="_blank">Supercar:</a> Jump Shocks, Wings, Landing Boost, Coin Boost<br>
                            <a href="https://www.youtube.com/watch?v=nGHqgF3rrvg" target="_blank">Monowheel:</a> Jump Shocks, Wings, Fume Boost, Overcharged Turbo<br>
                            <a href="https://www.youtube.com/watch?v=8oBXdSGbOvc" target="_blank">Hotrod:</a> Jump Shocks, Coin Boost, Landing Boost, Nitro<br>
                            <a href="" target="_blank">Superbike:</a> Jump Shocks, Magnet, Landing Boost<br>
                        </p>
                    </div>
                </details>
            </div>
            <br>
            <div>
                <details>
                    <summary>Patchwork Plant</summary>
                    <div>
                        <p>
                            Difficulty Ranking:<br>
                        </p>
                    </div>
                </details>
            </div>
            <br>
            <div>
                <details>
                    <summary>Switchback Savanna</summary>
                    <div>
                        <p>
                            Difficulty Ranking:<br>
                            0/10: Super Diesel, Rallycar, Musclecar, Raider, Glider, CC-EV<br>
                            1/10: Dune Buggy, Racing Truck, Rock Bouncer, Hoverbike<br>
                            2/10: Scooter, Bus, Monster Truck, Bolt<br>
                            3/10: Tractor, Tank<br>
                            4/10: Jeep, Sportscar, Chopper, Monowheel, Beast<br>
                            5/10: Motocross, Rotator, Formula<br>
                            6/10: Mk2, Lowrider, Snowmobile<br>
                            7/10: <br>
                            8/10: Hotrod<br>
                            9/10: Superbike<br>
                            10/10:Supercar, Moonlander<br><br>
                            <a href="https://www.youtube.com/watch?v=PA3Foa3nOyc" target="_blank">Tutorial For Most Vehicles</a><br>
                            Super Diesel: Jump Shocks, Wings, Landing Boost<br>
                            Rally Car: Jump Shocks, Wings, Landing Boost<br>
                            Muscle Car: Jump Shocks, Wings, Landing Boost<br>
                            Raider: Jump Shocks, Wings, Landing Boost<br>
                            Dune Buggy: Jump Shocks, Wings, Landing Boost<br>
                            Racing Truck: Jump Shocks, Wings, Landing Boost<br>
                            Rock Bouncer: Jump Shocks, Wings, Wheelie Boost<br>
                            Hoverbike: Overcharged Turbo, Fume Boost, Coin Boost<br>
                            Scooter: Jump Shocks, Wings, Landing Boost<br>
                            Bus: Fume Boost, Wings, Thrusters<br>
                            Monster Truck: Jump Shocks, Wings, Wheelie Boost<br>
                            Tractor: Jump Shocks, Wings, Landing Boost<br>
                            Tank: Fume Boost, Wings, Thrusters<br>
                            Jeep: Jump Shocks, Wings, Landing Boost<br>
                            Sports Car: Jump Shocks, Wings, Landing Boost<br>
                            Chopper: Fume Boost, Wings, Thrusters<br>
                            Monowheel: Jump Shocks, Wings, Fume Boost, Nitro<br>
                            Beast: Jump Shocks, Wings, Nitro<br>
                            Motocross: Jump Shocks, Wings, Landing Boost<br>
                            Rotator: Wheelie Boost, Wings, Coin Boost<br>
                            Formula: Jump Shocks, Wings, Landing Boost<br>
                            Mk2: Jump Shocks, Wings, Landing Boost<br>
                            Lowrider: Landing Boost, Wings, Nitro or Coin Boost<br>
                            Snowmobile: Overcharged Turbo, Wings, Nitro<br>
                            Hotrod: Jump Shocks, Coin Boost, Landing Boost<br>
                            Superbike: Coin Boost, Wings, Nitro<br>
                            Supercar: Jump Shocks, Wings, Landing Boost or Coin Boost<br>
                            Moonlander: Wheelie Boost, Coin Boost, Landing Boost, Fume Boost<br>
                            CC-EV: Jump Shocks, Wings, Landing Boost<br>
                            Glider(no vid): Jump Shocks, Magnet, Landing Boost<br>
                            Bolt(no vid): Jump Shocks, Wings, Landing Boost<br>
                        </p>
                    </div>
                </details>
            </div>
            <br>
            <div>
                <details>
                    <summary>Gloomvale</summary>
                    <div>
                        <p>
                            Difficulty Ranking:<br>
                        </p>
                    </div>
                </details>
            </div>
            <br>
            <div>
                <details>
                    <summary>Overspill Fun Rig</summary>
                    <div>
                        <p>
                            Difficulty Ranking:<br>
                        </p>
                    </div>
                </details>
            </div>
            <br>
            <div>
                <details>
                    <summary>Canyon Arena</summary>
                    <div>
                        <p>
                            Difficulty Ranking:<br>
                        </p>
                    </div>
                </details>
            </div>
            <br>
            <div>
                <details>
                    <summary>Cuptown</summary>
                    <div>
                        <p>
                            Difficulty Ranking:<br>
                        </p>
                    </div>
                </details>
            </div>
            <br>
            <div>
                <details>
                    <summary>Moon</summary>
                    <div>
                        <p>
                            Difficulty Ranking:<br>
                        </p>
                    </div>
                </details>
            </div>
        </div>
    </div>

    <!--Explains how to use the web-app and what it is for-->
    <div class="right">
        <h1>What is this web-app for?</h1>
        <p>
            In Hill Climb Racing 2 there is a system called adventure stars which 
            are stars you can get in each map by driving as far as you can with any vehicle.
            The max amount of stars per vehicle per map is 10,000 and because there are 31 vehicles
            the maxmimum amount of stars possible in a map is 310,000. The reason this is 
            better than the in-game version is because you can only see one map's 
            stars at a time, whereas with this spreadsheet you can see every single map and 
            vehicle stars at the same time which also makes it easier to see which ones 
            have 10000 and which ones dont.
        </p>
        <br><br>
        <h1>How to use the form</h1>
        <p>
            On the statistics page scroll down past the spreadsheet to the form underneath 
            and input the map you played in the first box, the vehicle you played in that
            map in the second box, and the distance of how far you got in that run e.g 4092m. 
            Then after those have been filled click "Submit Distance" and that info will
            be inserted into the database and displayed on the spreadsheet above.
        </p>
        <br><br>
        <h1>Where are the tutorials and rankings?</h1>
        <p>
            On the left side of the information page scroll down until you find the desired map
            and expand it by clicking on it. This will extend a section that contains 
            a list of every vehicles difficulty for getting 10k in that specific map,
            below that clicking on the vehicle name will take you to a youtube tutorial, 
            the specific parts are right next to the vehicle name. 
            (NOTE: 4 Parts means you must have the 4th mastery on that vehicle to equip and use the 4th part)
        </p>
        <br><br>
        <h1>What are the sections at the bottom of the Statistics page?</h1>
        <p>
            These display the total amount of stars/distance on a specific map using the 
            data from the spreadsheet above. It shows your current stars on a specific map out 
            of 310,000 and also as a percentage above it
        </p>
        <br><br>
        <h1>What is the "Overall Progress" section on the Satistics page?</h1>
        <p>
            This displays miscellaneous information relating to the spreadsheet like; 
            How many vehicle and map combination 10ks have been completed out of the 558 total. 
            Only vehicle and map combinations that 
            have exactly 10,000 are counted. The first box is the total amount of distance 
            from every vehicle and map combination. The second is how many maps have a total of 
            310,000 stars, this only counts when every vehicle in one map has 10,000. 
            The third box is the amount of vehicle and map combinations remaining 
            that dont have 10,000. The fourth box shows the average amount of stars for each map.
        </p>
    </div>
</div>
{% endblock %}