{% extends 'layout.html' %}
{% block content %}
<body class="FormPage">
    <div>
        <!--Displays each distance in the correct cell with images in the first row and column-->
        <table class="adventure-table">
            <tr> <!-- table row for vehicles-->
                <td></td>
                <td><img src="{{url_for('static', filename='jeep.png') }}" alt="image"></td>
                <td><img src="{{url_for('static', filename='scooter.png') }}" alt="image"></td>
                <td><img src="{{url_for('static', filename='bus.png') }}" alt="image"></td>
                <td><img src="{{url_for('static', filename='mk2.png') }}" alt="image"></td>
                <td><img src="{{url_for('static', filename='tractor.png') }}" alt="image"></td>
                <td><img src="{{url_for('static', filename='motocross.png') }}" alt="image"></td>
                <td><img src="{{url_for('static', filename='dunebuggy.png') }}" alt="image"></td>
                <td><img src="{{url_for('static', filename='sportscar.png') }}" alt="image"></td>
                <td><img src="{{url_for('static', filename='monstertruck.png') }}" alt="image"></td>
                <td><img src="{{url_for('static', filename='rotator.png') }}" alt="image"></td>
                <td><img src="{{url_for('static', filename='superdiesel.png') }}" alt="image"></td>
                <td><img src="{{url_for('static', filename='chopper.png') }}" alt="image"></td>
                <td><img src="{{url_for('static', filename='tank.png') }}" alt="image"></td>
                <td><img src="{{url_for('static', filename='lowrider.png') }}" alt="image"></td>
                <td><img src="{{url_for('static', filename='snowmobile.png') }}" alt="image"></td>
                <td><img src="{{url_for('static', filename='monowheel.png') }}" alt="image"></td>
                <td><img src="{{url_for('static', filename='beast.png') }}" alt="image"></td>
                <td><img src="{{url_for('static', filename='rallycar.png') }}" alt="image"></td>
                <td><img src="{{url_for('static', filename='formula.png') }}" alt="image"></td>
                <td><img src="{{url_for('static', filename='musclecar.png') }}" alt="image"></td>
                <td><img src="{{url_for('static', filename='racingtruck.png') }}" alt="image"></td>
                <td><img src="{{url_for('static', filename='hotrod.png') }}" alt="image"></td>
                <td><img src="{{url_for('static', filename='ccev.png') }}" alt="image"></td>
                <td><img src="{{url_for('static', filename='superbike.png') }}" alt="image"></td>
                <td><img src="{{url_for('static', filename='supercar.png') }}" alt="image"></td>
                <td><img src="{{url_for('static', filename='moonlander.png') }}" alt="image"></td>
                <td><img src="{{url_for('static', filename='rockbouncer.png') }}" alt="image"></td>
                <td><img src="{{url_for('static', filename='hoverbike.png') }}" alt="image"></td>
                <td><img src="{{url_for('static', filename='raider.png') }}" alt="image"></td>
                <td><img src="{{url_for('static', filename='glider.png') }}" alt="image"></td>
                <td><img src="{{url_for('static', filename='bolt.png') }}" alt="image"></td>
            </tr>
            <tr><!--table column for maps and distances-->
                <td><img src="{{url_for('static', filename='countryside.png') }}" alt="image"></td>
                <td>{{ Forms.get(("Countryside", "Jeep"), "") }}</td>
                <td>{{ Forms.get(("Countryside", "Scooter"), "") }}</td>
                <td>{{ Forms.get(("Countryside", "Bus"), "") }}</td>
                <td>{{ Forms.get(("Countryside", "Mk2"), "") }}</td>
                <td>{{ Forms.get(("Countryside", "Tractor"), "") }}</td>
                <td>{{ Forms.get(("Countryside", "Motocross"), "") }}</td>
                <td>{{ Forms.get(("Countryside", "Dunebuggy"), "") }}</td>
                <td>{{ Forms.get(("Countryside", "Sportscar"), "") }}</td>
                <td>{{ Forms.get(("Countryside", "Monstertruck"), "") }}</td>
                <td>{{ Forms.get(("Countryside", "Rotator"), "") }}</td>
                <td>{{ Forms.get(("Countryside", "Superdiesel"), "") }}</td>
                <td>{{ Forms.get(("Countryside", "Chopper"), "") }}</td>
                <td>{{ Forms.get(("Countryside", "Tank"), "") }}</td>
                <td>{{ Forms.get(("Countryside", "Lowrider"), "") }}</td>
                <td>{{ Forms.get(("Countryside", "Snowmobile"), "") }}</td>
                <td>{{ Forms.get(("Countryside", "Monowheel"), "") }}</td>
                <td>{{ Forms.get(("Countryside", "Beast"), "") }}</td>
                <td>{{ Forms.get(("Countryside", "Rallycar"), "") }}</td>
                <td>{{ Forms.get(("Countryside", "Formula"), "") }}</td>
                <td>{{ Forms.get(("Countryside", "Musclecar"), "") }}</td>
                <td>{{ Forms.get(("Countryside", "Racingtruck"), "") }}</td>
                <td>{{ Forms.get(("Countryside", "Hotrod"), "") }}</td>
                <td>{{ Forms.get(("Countryside", "CCev"), "") }}</td>
                <td>{{ Forms.get(("Countryside", "Superbike"), "") }}</td>
                <td>{{ Forms.get(("Countryside", "Supercar"), "") }}</td>
                <td>{{ Forms.get(("Countryside", "Moonlander"), "") }}</td>
                <td>{{ Forms.get(("Countryside", "Rockbouncer"), "") }}</td>
                <td>{{ Forms.get(("Countryside", "Hoverbike"), "") }}</td>
                <td>{{ Forms.get(("Countryside", "Raider"), "") }}</td>
                <td>{{ Forms.get(("Countryside", "Glider"), "") }}</td>
                <td>{{ Forms.get(("Countryside", "Bolt"), "") }}</td>
            </tr>
            <tr>
                <td><img src="{{url_for('static', filename='forest.png') }}" alt="image"></td>
                <td>{{ Forms.get(("Forest", "Jeep"), "") }}</td>
                <td>{{ Forms.get(("Forest", "Scooter"), "") }}</td>
                <td>{{ Forms.get(("Forest", "Bus"), "") }}</td>
                <td>{{ Forms.get(("Forest", "Mk2"), "") }}</td>
                <td>{{ Forms.get(("Forest", "Tractor"), "") }}</td>
                <td>{{ Forms.get(("Forest", "Motocross"), "") }}</td>
                <td>{{ Forms.get(("Forest", "Dunebuggy"), "") }}</td>
                <td>{{ Forms.get(("Forest", "Sportscar"), "") }}</td>
                <td>{{ Forms.get(("Forest", "Monstertruck"), "") }}</td>
                <td>{{ Forms.get(("Forest", "Rotator"), "") }}</td>
                <td>{{ Forms.get(("Forest", "Superdiesel"), "") }}</td>
                <td>{{ Forms.get(("Forest", "Chopper"), "") }}</td>
                <td>{{ Forms.get(("Forest", "Tank"), "") }}</td>
                <td>{{ Forms.get(("Forest", "Lowrider"), "") }}</td>
                <td>{{ Forms.get(("Forest", "Snowmobile"), "") }}</td>
                <td>{{ Forms.get(("Forest", "Monowheel"), "") }}</td>
                <td>{{ Forms.get(("Forest", "Beast"), "") }}</td>
                <td>{{ Forms.get(("Forest", "Rallycar"), "") }}</td>
                <td>{{ Forms.get(("Forest", "Formula"), "") }}</td>
                <td>{{ Forms.get(("Forest", "Musclecar"), "") }}</td>
                <td>{{ Forms.get(("Forest", "Racingtruck"), "") }}</td>
                <td>{{ Forms.get(("Forest", "Hotrod"), "") }}</td>
                <td>{{ Forms.get(("Forest", "CCev"), "") }}</td>
                <td>{{ Forms.get(("Forest", "Superbike"), "") }}</td>
                <td>{{ Forms.get(("Forest", "Supercar"), "") }}</td>
                <td>{{ Forms.get(("Forest", "Moonlander"), "") }}</td>
                <td>{{ Forms.get(("Forest", "Rockbouncer"), "") }}</td>
                <td>{{ Forms.get(("Forest", "Hoverbike"), "") }}</td>
                <td>{{ Forms.get(("Forest", "Raider"), "") }}</td>
                <td>{{ Forms.get(("Forest", "Glider"), "") }}</td>
                <td>{{ Forms.get(("Forest", "Bolt"), "") }}</td>
            </tr>
            <tr>
                <td><img src="{{url_for('static', filename='city.png') }}" alt="image"></td>
                <td>{{ Forms.get(("City", "Jeep"), "") }}</td>
                <td>{{ Forms.get(("City", "Scooter"), "") }}</td>
                <td>{{ Forms.get(("City", "Bus"), "") }}</td>
                <td>{{ Forms.get(("City", "Mk2"), "") }}</td>
                <td>{{ Forms.get(("City", "Tractor"), "") }}</td>
                <td>{{ Forms.get(("City", "Motocross"), "") }}</td>
                <td>{{ Forms.get(("City", "Dunebuggy"), "") }}</td>
                <td>{{ Forms.get(("City", "Sportscar"), "") }}</td>
                <td>{{ Forms.get(("City", "Monstertruck"), "") }}</td>
                <td>{{ Forms.get(("City", "Rotator"), "") }}</td>
                <td>{{ Forms.get(("City", "Superdiesel"), "") }}</td>
                <td>{{ Forms.get(("City", "Chopper"), "") }}</td>
                <td>{{ Forms.get(("City", "Tank"), "") }}</td>
                <td>{{ Forms.get(("City", "Lowrider"), "") }}</td>
                <td>{{ Forms.get(("City", "Snowmobile"), "") }}</td>
                <td>{{ Forms.get(("City", "Monowheel"), "") }}</td>
                <td>{{ Forms.get(("City", "Beast"), "") }}</td>
                <td>{{ Forms.get(("City", "Rallycar"), "") }}</td>
                <td>{{ Forms.get(("City", "Formula"), "") }}</td>
                <td>{{ Forms.get(("City", "Musclecar"), "") }}</td>
                <td>{{ Forms.get(("City", "Racingtruck"), "") }}</td>
                <td>{{ Forms.get(("City", "Hotrod"), "") }}</td>
                <td>{{ Forms.get(("City", "CCev"), "") }}</td>
                <td>{{ Forms.get(("City", "Superbike"), "") }}</td>
                <td>{{ Forms.get(("City", "Supercar"), "") }}</td>
                <td>{{ Forms.get(("City", "Moonlander"), "") }}</td>
                <td>{{ Forms.get(("City", "Rockbouncer"), "") }}</td>
                <td>{{ Forms.get(("City", "Hoverbike"), "") }}</td>
                <td>{{ Forms.get(("City", "Raider"), "") }}</td>
                <td>{{ Forms.get(("City", "Glider"), "") }}</td>
                <td>{{ Forms.get(("City", "Bolt"), "") }}</td>
            </tr>
            <tr>
                <td><img src="{{url_for('static', filename='mountain.png') }}" alt="image"></td>
                <td>{{ Forms.get(("Mountain", "Jeep"), "") }}</td>
                <td>{{ Forms.get(("Mountain", "Scooter"), "") }}</td>
                <td>{{ Forms.get(("Mountain", "Bus"), "") }}</td>
                <td>{{ Forms.get(("Mountain", "Mk2"), "") }}</td>
                <td>{{ Forms.get(("Mountain", "Tractor"), "") }}</td>
                <td>{{ Forms.get(("Mountain", "Motocross"), "") }}</td>
                <td>{{ Forms.get(("Mountain", "Dunebuggy"), "") }}</td>
                <td>{{ Forms.get(("Mountain", "Sportscar"), "") }}</td>
                <td>{{ Forms.get(("Mountain", "Monstertruck"), "") }}</td>
                <td>{{ Forms.get(("Mountain", "Rotator"), "") }}</td>
                <td>{{ Forms.get(("Mountain", "Superdiesel"), "") }}</td>
                <td>{{ Forms.get(("Mountain", "Chopper"), "") }}</td>
                <td>{{ Forms.get(("Mountain", "Tank"), "") }}</td>
                <td>{{ Forms.get(("Mountain", "Lowrider"), "") }}</td>
                <td>{{ Forms.get(("Mountain", "Snowmobile"), "") }}</td>
                <td>{{ Forms.get(("Mountain", "Monowheel"), "") }}</td>
                <td>{{ Forms.get(("Mountain", "Beast"), "") }}</td>
                <td>{{ Forms.get(("Mountain", "Rallycar"), "") }}</td>
                <td>{{ Forms.get(("Mountain", "Formula"), "") }}</td>
                <td>{{ Forms.get(("Mountain", "Musclecar"), "") }}</td>
                <td>{{ Forms.get(("Mountain", "Racingtruck"), "") }}</td>
                <td>{{ Forms.get(("Mountain", "Hotrod"), "") }}</td>
                <td>{{ Forms.get(("Mountain", "CCev"), "") }}</td>
                <td>{{ Forms.get(("Mountain", "Superbike"), "") }}</td>
                <td>{{ Forms.get(("Mountain", "Supercar"), "") }}</td>
                <td>{{ Forms.get(("Mountain", "Moonlander"), "") }}</td>
                <td>{{ Forms.get(("Mountain", "Rockbouncer"), "") }}</td>
                <td>{{ Forms.get(("Mountain", "Hoverbike"), "") }}</td>
                <td>{{ Forms.get(("Mountain", "Raider"), "") }}</td>
                <td>{{ Forms.get(("Mountain", "Glider"), "") }}</td>
                <td>{{ Forms.get(("Mountain", "Bolt"), "") }}</td>
            </tr>
            <tr>
                <td><img src="{{url_for('static', filename='reef.png') }}" alt="image"></td>
                <td>{{ Forms.get(("Reef", "Jeep"), "") }}</td>
                <td>{{ Forms.get(("Reef", "Scooter"), "") }}</td>
                <td>{{ Forms.get(("Reef", "Bus"), "") }}</td>
                <td>{{ Forms.get(("Reef", "Mk2"), "") }}</td>
                <td>{{ Forms.get(("Reef", "Tractor"), "") }}</td>
                <td>{{ Forms.get(("Reef", "Motocross"), "") }}</td>
                <td>{{ Forms.get(("Reef", "Dunebuggy"), "") }}</td>
                <td>{{ Forms.get(("Reef", "Sportscar"), "") }}</td>
                <td>{{ Forms.get(("Reef", "Monstertruck"), "") }}</td>
                <td>{{ Forms.get(("Reef", "Rotator"), "") }}</td>
                <td>{{ Forms.get(("Reef", "Superdiesel"), "") }}</td>
                <td>{{ Forms.get(("Reef", "Chopper"), "") }}</td>
                <td>{{ Forms.get(("Reef", "Tank"), "") }}</td>
                <td>{{ Forms.get(("Reef", "Lowrider"), "") }}</td>
                <td>{{ Forms.get(("Reef", "Snowmobile"), "") }}</td>
                <td>{{ Forms.get(("Reef", "Monowheel"), "") }}</td>
                <td>{{ Forms.get(("Reef", "Beast"), "") }}</td>
                <td>{{ Forms.get(("Reef", "Rallycar"), "") }}</td>
                <td>{{ Forms.get(("Reef", "Formula"), "") }}</td>
                <td>{{ Forms.get(("Reef", "Musclecar"), "") }}</td>
                <td>{{ Forms.get(("Reef", "Racingtruck"), "") }}</td>
                <td>{{ Forms.get(("Reef", "Hotrod"), "") }}</td>
                <td>{{ Forms.get(("Reef", "CCev"), "") }}</td>
                <td>{{ Forms.get(("Reef", "Superbike"), "") }}</td>
                <td>{{ Forms.get(("Reef", "Supercar"), "") }}</td>
                <td>{{ Forms.get(("Reef", "Moonlander"), "") }}</td>
                <td>{{ Forms.get(("Reef", "Rockbouncer"), "") }}</td>
                <td>{{ Forms.get(("Reef", "Hoverbike"), "") }}</td>
                <td>{{ Forms.get(("Reef", "Raider"), "") }}</td>
                <td>{{ Forms.get(("Reef", "Glider"), "") }}</td>
                <td>{{ Forms.get(("Reef", "Bolt"), "") }}</td>
            </tr>
             <tr>
                <td><img src="{{url_for('static', filename='winter.png') }}" alt="image"></td>
                <td>{{ Forms.get(("Winter", "Jeep"), "") }}</td>
                <td>{{ Forms.get(("Winter", "Scooter"), "") }}</td>
                <td>{{ Forms.get(("Winter", "Bus"), "") }}</td>
                <td>{{ Forms.get(("Winter", "Mk2"), "") }}</td>
                <td>{{ Forms.get(("Winter", "Tractor"), "") }}</td>
                <td>{{ Forms.get(("Winter", "Motocross"), "") }}</td>
                <td>{{ Forms.get(("Winter", "Dunebuggy"), "") }}</td>
                <td>{{ Forms.get(("Winter", "Sportscar"), "") }}</td>
                <td>{{ Forms.get(("Winter", "Monstertruck"), "") }}</td>
                <td>{{ Forms.get(("Winter", "Rotator"), "") }}</td>
                <td>{{ Forms.get(("Winter", "Superdiesel"), "") }}</td>
                <td>{{ Forms.get(("Winter", "Chopper"), "") }}</td>
                <td>{{ Forms.get(("Winter", "Tank"), "") }}</td>
                <td>{{ Forms.get(("Winter", "Lowrider"), "") }}</td>
                <td>{{ Forms.get(("Winter", "Snowmobile"), "") }}</td>
                <td>{{ Forms.get(("Winter", "Monowheel"), "") }}</td>
                <td>{{ Forms.get(("Winter", "Beast"), "") }}</td>
                <td>{{ Forms.get(("Winter", "Rallycar"), "") }}</td>
                <td>{{ Forms.get(("Winter", "Formula"), "") }}</td>
                <td>{{ Forms.get(("Winter", "Musclecar"), "") }}</td>
                <td>{{ Forms.get(("Winter", "Racingtruck"), "") }}</td>
                <td>{{ Forms.get(("Winter", "Hotrod"), "") }}</td>
                <td>{{ Forms.get(("Winter", "CCev"), "") }}</td>
                <td>{{ Forms.get(("Winter", "Superbike"), "") }}</td>
                <td>{{ Forms.get(("Winter", "Supercar"), "") }}</td>
                <td>{{ Forms.get(("Winter", "Moonlander"), "") }}</td>
                <td>{{ Forms.get(("Winter", "Rockbouncer"), "") }}</td>
                <td>{{ Forms.get(("Winter", "Hoverbike"), "") }}</td>
                <td>{{ Forms.get(("Winter", "Raider"), "") }}</td>
                <td>{{ Forms.get(("Winter", "Glider"), "") }}</td>
                <td>{{ Forms.get(("Winter", "Bolt"), "") }}</td>
            </tr>
            <tr>
                <td><img src="{{url_for('static', filename='mines.png') }}" alt="image"></td>
                <td>{{ Forms.get(("Mines", "Jeep"), "") }}</td>
                <td>{{ Forms.get(("Mines", "Scooter"), "") }}</td>
                <td>{{ Forms.get(("Mines", "Bus"), "") }}</td>
                <td>{{ Forms.get(("Mines", "Mk2"), "") }}</td>
                <td>{{ Forms.get(("Mines", "Tractor"), "") }}</td>
                <td>{{ Forms.get(("Mines", "Motocross"), "") }}</td>
                <td>{{ Forms.get(("Mines", "Dunebuggy"), "") }}</td>
                <td>{{ Forms.get(("Mines", "Sportscar"), "") }}</td>
                <td>{{ Forms.get(("Mines", "Monstertruck"), "") }}</td>
                <td>{{ Forms.get(("Mines", "Rotator"), "") }}</td>
                <td>{{ Forms.get(("Mines", "Superdiesel"), "") }}</td>
                <td>{{ Forms.get(("Mines", "Chopper"), "") }}</td>
                <td>{{ Forms.get(("Mines", "Tank"), "") }}</td>
                <td>{{ Forms.get(("Mines", "Lowrider"), "") }}</td>
                <td>{{ Forms.get(("Mines", "Snowmobile"), "") }}</td>
                <td>{{ Forms.get(("Mines", "Monowheel"), "") }}</td>
                <td>{{ Forms.get(("Mines", "Beast"), "") }}</td>
                <td>{{ Forms.get(("Mines", "Rallycar"), "") }}</td>
                <td>{{ Forms.get(("Mines", "Formula"), "") }}</td>
                <td>{{ Forms.get(("Mines", "Musclecar"), "") }}</td>
                <td>{{ Forms.get(("Mines", "Racingtruck"), "") }}</td>
                <td>{{ Forms.get(("Mines", "Hotrod"), "") }}</td>
                <td>{{ Forms.get(("Mines", "CCev"), "") }}</td>
                <td>{{ Forms.get(("Mines", "Superbike"), "") }}</td>
                <td>{{ Forms.get(("Mines", "Supercar"), "") }}</td>
                <td>{{ Forms.get(("Mines", "Moonlander"), "") }}</td>
                <td>{{ Forms.get(("Mines", "Rockbouncer"), "") }}</td>
                <td>{{ Forms.get(("Mines", "Hoverbike"), "") }}</td>
                <td>{{ Forms.get(("Mines", "Raider"), "") }}</td>
                <td>{{ Forms.get(("Mines", "Glider"), "") }}</td>
                <td>{{ Forms.get(("Mines", "Bolt"), "") }}</td>
            </tr>
            <tr>
                <td><img src="{{url_for('static', filename='desert.png') }}" alt="image"></td>
                <td>{{ Forms.get(("Desert", "Jeep"), "") }}</td>
                <td>{{ Forms.get(("Desert", "Scooter"), "") }}</td>
                <td>{{ Forms.get(("Desert", "Bus"), "") }}</td>
                <td>{{ Forms.get(("Desert", "Mk2"), "") }}</td>
                <td>{{ Forms.get(("Desert", "Tractor"), "") }}</td>
                <td>{{ Forms.get(("Desert", "Motocross"), "") }}</td>
                <td>{{ Forms.get(("Desert", "Dunebuggy"), "") }}</td>
                <td>{{ Forms.get(("Desert", "Sportscar"), "") }}</td>
                <td>{{ Forms.get(("Desert", "Monstertruck"), "") }}</td>
                <td>{{ Forms.get(("Desert", "Rotator"), "") }}</td>
                <td>{{ Forms.get(("Desert", "Superdiesel"), "") }}</td>
                <td>{{ Forms.get(("Desert", "Chopper"), "") }}</td>
                <td>{{ Forms.get(("Desert", "Tank"), "") }}</td>
                <td>{{ Forms.get(("Desert", "Lowrider"), "") }}</td>
                <td>{{ Forms.get(("Desert", "Snowmobile"), "") }}</td>
                <td>{{ Forms.get(("Desert", "Monowheel"), "") }}</td>
                <td>{{ Forms.get(("Desert", "Beast"), "") }}</td>
                <td>{{ Forms.get(("Desert", "Rallycar"), "") }}</td>
                <td>{{ Forms.get(("Desert", "Formula"), "") }}</td>
                <td>{{ Forms.get(("Desert", "Musclecar"), "") }}</td>
                <td>{{ Forms.get(("Desert", "Racingtruck"), "") }}</td>
                <td>{{ Forms.get(("Desert", "Hotrod"), "") }}</td>
                <td>{{ Forms.get(("Desert", "CCev"), "") }}</td>
                <td>{{ Forms.get(("Desert", "Superbike"), "") }}</td>
                <td>{{ Forms.get(("Desert", "Supercar"), "") }}</td>
                <td>{{ Forms.get(("Desert", "Moonlander"), "") }}</td>
                <td>{{ Forms.get(("Desert", "Rockbouncer"), "") }}</td>
                <td>{{ Forms.get(("Desert", "Hoverbike"), "") }}</td>
                <td>{{ Forms.get(("Desert", "Raider"), "") }}</td>
                <td>{{ Forms.get(("Desert", "Glider"), "") }}</td>
                <td>{{ Forms.get(("Desert", "Bolt"), "") }}</td>
            </tr>
            <tr>
                <td><img src="{{url_for('static', filename='beach.png') }}" alt="image"></td>
                <td>{{ Forms.get(("Beach", "Jeep"), "") }}</td>
                <td>{{ Forms.get(("Beach", "Scooter"), "") }}</td>
                <td>{{ Forms.get(("Beach", "Bus"), "") }}</td>
                <td>{{ Forms.get(("Beach", "Mk2"), "") }}</td>
                <td>{{ Forms.get(("Beach", "Tractor"), "") }}</td>
                <td>{{ Forms.get(("Beach", "Motocross"), "") }}</td>
                <td>{{ Forms.get(("Beach", "Dunebuggy"), "") }}</td>
                <td>{{ Forms.get(("Beach", "Sportscar"), "") }}</td>
                <td>{{ Forms.get(("Beach", "Monstertruck"), "") }}</td>
                <td>{{ Forms.get(("Beach", "Rotator"), "") }}</td>
                <td>{{ Forms.get(("Beach", "Superdiesel"), "") }}</td>
                <td>{{ Forms.get(("Beach", "Chopper"), "") }}</td>
                <td>{{ Forms.get(("Beach", "Tank"), "") }}</td>
                <td>{{ Forms.get(("Beach", "Lowrider"), "") }}</td>
                <td>{{ Forms.get(("Beach", "Snowmobile"), "") }}</td>
                <td>{{ Forms.get(("Beach", "Monowheel"), "") }}</td>
                <td>{{ Forms.get(("Beach", "Beast"), "") }}</td>
                <td>{{ Forms.get(("Beach", "Rallycar"), "") }}</td>
                <td>{{ Forms.get(("Beach", "Formula"), "") }}</td>
                <td>{{ Forms.get(("Beach", "Musclecar"), "") }}</td>
                <td>{{ Forms.get(("Beach", "Racingtruck"), "") }}</td>
                <td>{{ Forms.get(("Beach", "Hotrod"), "") }}</td>
                <td>{{ Forms.get(("Beach", "CCev"), "") }}</td>
                <td>{{ Forms.get(("Beach", "Superbike"), "") }}</td>
                <td>{{ Forms.get(("Beach", "Supercar"), "") }}</td>
                <td>{{ Forms.get(("Beach", "Moonlander"), "") }}</td>
                <td>{{ Forms.get(("Beach", "Rockbouncer"), "") }}</td>
                <td>{{ Forms.get(("Beach", "Hoverbike"), "") }}</td>
                <td>{{ Forms.get(("Beach", "Raider"), "") }}</td>
                <td>{{ Forms.get(("Beach", "Glider"), "") }}</td>
                <td>{{ Forms.get(("Beach", "Bolt"), "") }}</td>
            </tr>
            <tr>
                <td><img src="{{url_for('static', filename='bog.png') }}" alt="image"></td>
                <td>{{ Forms.get(("Bog", "Jeep"), "") }}</td>
                <td>{{ Forms.get(("Bog", "Scooter"), "") }}</td>
                <td>{{ Forms.get(("Bog", "Bus"), "") }}</td>
                <td>{{ Forms.get(("Bog", "Mk2"), "") }}</td>
                <td>{{ Forms.get(("Bog", "Tractor"), "") }}</td>
                <td>{{ Forms.get(("Bog", "Motocross"), "") }}</td>
                <td>{{ Forms.get(("Bog", "Dunebuggy"), "") }}</td>
                <td>{{ Forms.get(("Bog", "Sportscar"), "") }}</td>
                <td>{{ Forms.get(("Bog", "Monstertruck"), "") }}</td>
                <td>{{ Forms.get(("Bog", "Rotator"), "") }}</td>
                <td>{{ Forms.get(("Bog", "Superdiesel"), "") }}</td>
                <td>{{ Forms.get(("Bog", "Chopper"), "") }}</td>
                <td>{{ Forms.get(("Bog", "Tank"), "") }}</td>
                <td>{{ Forms.get(("Bog", "Lowrider"), "") }}</td>
                <td>{{ Forms.get(("Bog", "Snowmobile"), "") }}</td>
                <td>{{ Forms.get(("Bog", "Monowheel"), "") }}</td>
                <td>{{ Forms.get(("Bog", "Beast"), "") }}</td>
                <td>{{ Forms.get(("Bog", "Rallycar"), "") }}</td>
                <td>{{ Forms.get(("Bog", "Formula"), "") }}</td>
                <td>{{ Forms.get(("Bog", "Musclecar"), "") }}</td>
                <td>{{ Forms.get(("Bog", "Racingtruck"), "") }}</td>
                <td>{{ Forms.get(("Bog", "Hotrod"), "") }}</td>
                <td>{{ Forms.get(("Bog", "CCev"), "") }}</td>
                <td>{{ Forms.get(("Bog", "Superbike"), "") }}</td>
                <td>{{ Forms.get(("Bog", "Supercar"), "") }}</td>
                <td>{{ Forms.get(("Bog", "Moonlander"), "") }}</td>
                <td>{{ Forms.get(("Bog", "Rockbouncer"), "") }}</td>
                <td>{{ Forms.get(("Bog", "Hoverbike"), "") }}</td>
                <td>{{ Forms.get(("Bog", "Raider"), "") }}</td>
                <td>{{ Forms.get(("Bog", "Glider"), "") }}</td>
                <td>{{ Forms.get(("Bog", "Bolt"), "") }}</td>
            </tr>
            <tr>
                <td><img src="{{url_for('static', filename='glacier.png') }}" alt="image"></td>
                <td>{{ Forms.get(("Glacier", "Jeep"), "") }}</td>
                <td>{{ Forms.get(("Glacier", "Scooter"), "") }}</td>
                <td>{{ Forms.get(("Glacier", "Bus"), "") }}</td>
                <td>{{ Forms.get(("Glacier", "Mk2"), "") }}</td>
                <td>{{ Forms.get(("Glacier", "Tractor"), "") }}</td>
                <td>{{ Forms.get(("Glacier", "Motocross"), "") }}</td>
                <td>{{ Forms.get(("Glacier", "Dunebuggy"), "") }}</td>
                <td>{{ Forms.get(("Glacier", "Sportscar"), "") }}</td>
                <td>{{ Forms.get(("Glacier", "Monstertruck"), "") }}</td>
                <td>{{ Forms.get(("Glacier", "Rotator"), "") }}</td>
                <td>{{ Forms.get(("Glacier", "Superdiesel"), "") }}</td>
                <td>{{ Forms.get(("Glacier", "Chopper"), "") }}</td>
                <td>{{ Forms.get(("Glacier", "Tank"), "") }}</td>
                <td>{{ Forms.get(("Glacier", "Lowrider"), "") }}</td>
                <td>{{ Forms.get(("Glacier", "Snowmobile"), "") }}</td>
                <td>{{ Forms.get(("Glacier", "Monowheel"), "") }}</td>
                <td>{{ Forms.get(("Glacier", "Beast"), "") }}</td>
                <td>{{ Forms.get(("Glacier", "Rallycar"), "") }}</td>
                <td>{{ Forms.get(("Glacier", "Formula"), "") }}</td>
                <td>{{ Forms.get(("Glacier", "Musclecar"), "") }}</td>
                <td>{{ Forms.get(("Glacier", "Racingtruck"), "") }}</td>
                <td>{{ Forms.get(("Glacier", "Hotrod"), "") }}</td>
                <td>{{ Forms.get(("Glacier", "CCev"), "") }}</td>
                <td>{{ Forms.get(("Glacier", "Superbike"), "") }}</td>
                <td>{{ Forms.get(("Glacier", "Supercar"), "") }}</td>
                <td>{{ Forms.get(("Glacier", "Moonlander"), "") }}</td>
                <td>{{ Forms.get(("Glacier", "Rockbouncer"), "") }}</td>
                <td>{{ Forms.get(("Glacier", "Hoverbike"), "") }}</td>
                <td>{{ Forms.get(("Glacier", "Raider"), "") }}</td>
                <td>{{ Forms.get(("Glacier", "Glider"), "") }}</td>
                <td>{{ Forms.get(("Glacier", "Bolt"), "") }}</td>
            </tr>
            <tr>
                <td><img src="{{url_for('static', filename='patchwork.png') }}" alt="image"></td>
                <td>{{ Forms.get(("Patchwork", "Jeep"), "") }}</td>
                <td>{{ Forms.get(("Patchwork", "Scooter"), "") }}</td>
                <td>{{ Forms.get(("Patchwork", "Bus"), "") }}</td>
                <td>{{ Forms.get(("Patchwork", "Mk2"), "") }}</td>
                <td>{{ Forms.get(("Patchwork", "Tractor"), "") }}</td>
                <td>{{ Forms.get(("Patchwork", "Motocross"), "") }}</td>
                <td>{{ Forms.get(("Patchwork", "Dunebuggy"), "") }}</td>
                <td>{{ Forms.get(("Patchwork", "Sportscar"), "") }}</td>
                <td>{{ Forms.get(("Patchwork", "Monstertruck"), "") }}</td>
                <td>{{ Forms.get(("Patchwork", "Rotator"), "") }}</td>
                <td>{{ Forms.get(("Patchwork", "Superdiesel"), "") }}</td>
                <td>{{ Forms.get(("Patchwork", "Chopper"), "") }}</td>
                <td>{{ Forms.get(("Patchwork", "Tank"), "") }}</td>
                <td>{{ Forms.get(("Patchwork", "Lowrider"), "") }}</td>
                <td>{{ Forms.get(("Patchwork", "Snowmobile"), "") }}</td>
                <td>{{ Forms.get(("Patchwork", "Monowheel"), "") }}</td>
                <td>{{ Forms.get(("Patchwork", "Beast"), "") }}</td>
                <td>{{ Forms.get(("Patchwork", "Rallycar"), "") }}</td>
                <td>{{ Forms.get(("Patchwork", "Formula"), "") }}</td>
                <td>{{ Forms.get(("Patchwork", "Musclecar"), "") }}</td>
                <td>{{ Forms.get(("Patchwork", "Racingtruck"), "") }}</td>
                <td>{{ Forms.get(("Patchwork", "Hotrod"), "") }}</td>
                <td>{{ Forms.get(("Patchwork", "CCev"), "") }}</td>
                <td>{{ Forms.get(("Patchwork", "Superbike"), "") }}</td>
                <td>{{ Forms.get(("Patchwork", "Supercar"), "") }}</td>
                <td>{{ Forms.get(("Patchwork", "Moonlander"), "") }}</td>
                <td>{{ Forms.get(("Patchwork", "Rockbouncer"), "") }}</td>
                <td>{{ Forms.get(("Patchwork", "Hoverbike"), "") }}</td>
                <td>{{ Forms.get(("Patchwork", "Raider"), "") }}</td>
                <td>{{ Forms.get(("Patchwork", "Glider"), "") }}</td>
                <td>{{ Forms.get(("Patchwork", "Bolt"), "") }}</td>
            </tr>
            <tr>
                <td><img src="{{url_for('static', filename='savanna.png') }}" alt="image"></td>
                <td>{{ Forms.get(("Savanna", "Jeep"), "") }}</td>
                <td>{{ Forms.get(("Savanna", "Scooter"), "") }}</td>
                <td>{{ Forms.get(("Savanna", "Bus"), "") }}</td>
                <td>{{ Forms.get(("Savanna", "Mk2"), "") }}</td>
                <td>{{ Forms.get(("Savanna", "Tractor"), "") }}</td>
                <td>{{ Forms.get(("Savanna", "Motocross"), "") }}</td>
                <td>{{ Forms.get(("Savanna", "Dunebuggy"), "") }}</td>
                <td>{{ Forms.get(("Savanna", "Sportscar"), "") }}</td>
                <td>{{ Forms.get(("Savanna", "Monstertruck"), "") }}</td>
                <td>{{ Forms.get(("Savanna", "Rotator"), "") }}</td>
                <td>{{ Forms.get(("Savanna", "Superdiesel"), "") }}</td>
                <td>{{ Forms.get(("Savanna", "Chopper"), "") }}</td>
                <td>{{ Forms.get(("Savanna", "Tank"), "") }}</td>
                <td>{{ Forms.get(("Savanna", "Lowrider"), "") }}</td>
                <td>{{ Forms.get(("Savanna", "Snowmobile"), "") }}</td>
                <td>{{ Forms.get(("Savanna", "Monowheel"), "") }}</td>
                <td>{{ Forms.get(("Savanna", "Beast"), "") }}</td>
                <td>{{ Forms.get(("Savanna", "Rallycar"), "") }}</td>
                <td>{{ Forms.get(("Savanna", "Formula"), "") }}</td>
                <td>{{ Forms.get(("Savanna", "Musclecar"), "") }}</td>
                <td>{{ Forms.get(("Savanna", "Racingtruck"), "") }}</td>
                <td>{{ Forms.get(("Savanna", "Hotrod"), "") }}</td>
                <td>{{ Forms.get(("Savanna", "CCev"), "") }}</td>
                <td>{{ Forms.get(("Savanna", "Superbike"), "") }}</td>
                <td>{{ Forms.get(("Savanna", "Supercar"), "") }}</td>
                <td>{{ Forms.get(("Savanna", "Moonlander"), "") }}</td>
                <td>{{ Forms.get(("Savanna", "Rockbouncer"), "") }}</td>
                <td>{{ Forms.get(("Savanna", "Hoverbike"), "") }}</td>
                <td>{{ Forms.get(("Savanna", "Raider"), "") }}</td>
                <td>{{ Forms.get(("Savanna", "Glider"), "") }}</td>
                <td>{{ Forms.get(("Savanna", "Bolt"), "") }}</td>
            </tr>
            <tr>
                <td><img src="{{url_for('static', filename='gloomvale.png') }}" alt="image"></td>
                <td>{{ Forms.get(("Gloomvale", "Jeep"), "") }}</td>
                <td>{{ Forms.get(("Gloomvale", "Scooter"), "") }}</td>
                <td>{{ Forms.get(("Gloomvale", "Bus"), "") }}</td>
                <td>{{ Forms.get(("Gloomvale", "Mk2"), "") }}</td>
                <td>{{ Forms.get(("Gloomvale", "Tractor"), "") }}</td>
                <td>{{ Forms.get(("Gloomvale", "Motocross"), "") }}</td>
                <td>{{ Forms.get(("Gloomvale", "Dunebuggy"), "") }}</td>
                <td>{{ Forms.get(("Gloomvale", "Sportscar"), "") }}</td>
                <td>{{ Forms.get(("Gloomvale", "Monstertruck"), "") }}</td>
                <td>{{ Forms.get(("Gloomvale", "Rotator"), "") }}</td>
                <td>{{ Forms.get(("Gloomvale", "Superdiesel"), "") }}</td>
                <td>{{ Forms.get(("Gloomvale", "Chopper"), "") }}</td>
                <td>{{ Forms.get(("Gloomvale", "Tank"), "") }}</td>
                <td>{{ Forms.get(("Gloomvale", "Lowrider"), "") }}</td>
                <td>{{ Forms.get(("Gloomvale", "Snowmobile"), "") }}</td>
                <td>{{ Forms.get(("Gloomvale", "Monowheel"), "") }}</td>
                <td>{{ Forms.get(("Gloomvale", "Beast"), "") }}</td>
                <td>{{ Forms.get(("Gloomvale", "Rallycar"), "") }}</td>
                <td>{{ Forms.get(("Gloomvale", "Formula"), "") }}</td>
                <td>{{ Forms.get(("Gloomvale", "Musclecar"), "") }}</td>
                <td>{{ Forms.get(("Gloomvale", "Racingtruck"), "") }}</td>
                <td>{{ Forms.get(("Gloomvale", "Hotrod"), "") }}</td>
                <td>{{ Forms.get(("Gloomvale", "CCev"), "") }}</td>
                <td>{{ Forms.get(("Gloomvale", "Superbike"), "") }}</td>
                <td>{{ Forms.get(("Gloomvale", "Supercar"), "") }}</td>
                <td>{{ Forms.get(("Gloomvale", "Moonlander"), "") }}</td>
                <td>{{ Forms.get(("Gloomvale", "Rockbouncer"), "") }}</td>
                <td>{{ Forms.get(("Gloomvale", "Hoverbike"), "") }}</td>
                <td>{{ Forms.get(("Gloomvale", "Raider"), "") }}</td>
                <td>{{ Forms.get(("Gloomvale", "Glider"), "") }}</td>
                <td>{{ Forms.get(("Gloomvale", "Bolt"), "") }}</td>
            </tr>
            <tr>
                <td><img src="{{url_for('static', filename='overspill.png') }}" alt="image"></td>
                <td>{{ Forms.get(("Overspill", "Jeep"), "") }}</td>
                <td>{{ Forms.get(("Overspill", "Scooter"), "") }}</td>
                <td>{{ Forms.get(("Overspill", "Bus"), "") }}</td>
                <td>{{ Forms.get(("Overspill", "Mk2"), "") }}</td>
                <td>{{ Forms.get(("Overspill", "Tractor"), "") }}</td>
                <td>{{ Forms.get(("Overspill", "Motocross"), "") }}</td>
                <td>{{ Forms.get(("Overspill", "Dunebuggy"), "") }}</td>
                <td>{{ Forms.get(("Overspill", "Sportscar"), "") }}</td>
                <td>{{ Forms.get(("Overspill", "Monstertruck"), "") }}</td>
                <td>{{ Forms.get(("Overspill", "Rotator"), "") }}</td>
                <td>{{ Forms.get(("Overspill", "Superdiesel"), "") }}</td>
                <td>{{ Forms.get(("Overspill", "Chopper"), "") }}</td>
                <td>{{ Forms.get(("Overspill", "Tank"), "") }}</td>
                <td>{{ Forms.get(("Overspill", "Lowrider"), "") }}</td>
                <td>{{ Forms.get(("Overspill", "Snowmobile"), "") }}</td>
                <td>{{ Forms.get(("Overspill", "Monowheel"), "") }}</td>
                <td>{{ Forms.get(("Overspill", "Beast"), "") }}</td>
                <td>{{ Forms.get(("Overspill", "Rallycar"), "") }}</td>
                <td>{{ Forms.get(("Overspill", "Formula"), "") }}</td>
                <td>{{ Forms.get(("Overspill", "Musclecar"), "") }}</td>
                <td>{{ Forms.get(("Overspill", "Racingtruck"), "") }}</td>
                <td>{{ Forms.get(("Overspill", "Hotrod"), "") }}</td>
                <td>{{ Forms.get(("Overspill", "CCev"), "") }}</td>
                <td>{{ Forms.get(("Overspill", "Superbike"), "") }}</td>
                <td>{{ Forms.get(("Overspill", "Supercar"), "") }}</td>
                <td>{{ Forms.get(("Overspill", "Moonlander"), "") }}</td>
                <td>{{ Forms.get(("Overspill", "Rockbouncer"), "") }}</td>
                <td>{{ Forms.get(("Overspill", "Hoverbike"), "") }}</td>
                <td>{{ Forms.get(("Overspill", "Raider"), "") }}</td>
                <td>{{ Forms.get(("Overspill", "Glider"), "") }}</td>
                <td>{{ Forms.get(("Overspill", "Bolt"), "") }}</td>
            </tr>
            <tr>
                <td><img src="{{url_for('static', filename='arena.png') }}" alt="image"></td>
                <td>{{ Forms.get(("Canyonarena", "Jeep"), "") }}</td>
                <td>{{ Forms.get(("Canyonarena", "Scooter"), "") }}</td>
                <td>{{ Forms.get(("Canyonarena", "Bus"), "") }}</td>
                <td>{{ Forms.get(("Canyonarena", "Mk2"), "") }}</td>
                <td>{{ Forms.get(("Canyonarena", "Tractor"), "") }}</td>
                <td>{{ Forms.get(("Canyonarena", "Motocross"), "") }}</td>
                <td>{{ Forms.get(("Canyonarena", "Dunebuggy"), "") }}</td>
                <td>{{ Forms.get(("Canyonarena", "Sportscar"), "") }}</td>
                <td>{{ Forms.get(("Canyonarena", "Monstertruck"), "") }}</td>
                <td>{{ Forms.get(("Canyonarena", "Rotator"), "") }}</td>
                <td>{{ Forms.get(("Canyonarena", "Superdiesel"), "") }}</td>
                <td>{{ Forms.get(("Canyonarena", "Chopper"), "") }}</td>
                <td>{{ Forms.get(("Canyonarena", "Tank"), "") }}</td>
                <td>{{ Forms.get(("Canyonarena", "Lowrider"), "") }}</td>
                <td>{{ Forms.get(("Canyonarena", "Snowmobile"), "") }}</td>
                <td>{{ Forms.get(("Canyonarena", "Monowheel"), "") }}</td>
                <td>{{ Forms.get(("Canyonarena", "Beast"), "") }}</td>
                <td>{{ Forms.get(("Canyonarena", "Rallycar"), "") }}</td>
                <td>{{ Forms.get(("Canyonarena", "Formula"), "") }}</td>
                <td>{{ Forms.get(("Canyonarena", "Musclecar"), "") }}</td>
                <td>{{ Forms.get(("Canyonarena", "Racingtruck"), "") }}</td>
                <td>{{ Forms.get(("Canyonarena", "Hotrod"), "") }}</td>
                <td>{{ Forms.get(("Canyonarena", "CCev"), "") }}</td>
                <td>{{ Forms.get(("Canyonarena", "Superbike"), "") }}</td>
                <td>{{ Forms.get(("Canyonarena", "Supercar"), "") }}</td>
                <td>{{ Forms.get(("Canyonarena", "Moonlander"), "") }}</td>
                <td>{{ Forms.get(("Canyonarena", "Rockbouncer"), "") }}</td>
                <td>{{ Forms.get(("Canyonarena", "Hoverbike"), "") }}</td>
                <td>{{ Forms.get(("Canyonarena", "Raider"), "") }}</td>
                <td>{{ Forms.get(("Canyonarena", "Glider"), "") }}</td>
                <td>{{ Forms.get(("Canyonarena", "Bolt"), "") }}</td>
            </tr>
            <tr>
                <td><img src="{{url_for('static', filename='cuptown.png') }}" alt="image"></td>
                <td>{{ Forms.get(("Cuptown", "Jeep"), "") }}</td>
                <td>{{ Forms.get(("Cuptown", "Scooter"), "") }}</td>
                <td>{{ Forms.get(("Cuptown", "Bus"), "") }}</td>
                <td>{{ Forms.get(("Cuptown", "Mk2"), "") }}</td>
                <td>{{ Forms.get(("Cuptown", "Tractor"), "") }}</td>
                <td>{{ Forms.get(("Cuptown", "Motocross"), "") }}</td>
                <td>{{ Forms.get(("Cuptown", "Dunebuggy"), "") }}</td>
                <td>{{ Forms.get(("Cuptown", "Sportscar"), "") }}</td>
                <td>{{ Forms.get(("Cuptown", "Monstertruck"), "") }}</td>
                <td>{{ Forms.get(("Cuptown", "Rotator"), "") }}</td>
                <td>{{ Forms.get(("Cuptown", "Superdiesel"), "") }}</td>
                <td>{{ Forms.get(("Cuptown", "Chopper"), "") }}</td>
                <td>{{ Forms.get(("Cuptown", "Tank"), "") }}</td>
                <td>{{ Forms.get(("Cuptown", "Lowrider"), "") }}</td>
                <td>{{ Forms.get(("Cuptown", "Snowmobile"), "") }}</td>
                <td>{{ Forms.get(("Cuptown", "Monowheel"), "") }}</td>
                <td>{{ Forms.get(("Cuptown", "Beast"), "") }}</td>
                <td>{{ Forms.get(("Cuptown", "Rallycar"), "") }}</td>
                <td>{{ Forms.get(("Cuptown", "Formula"), "") }}</td>
                <td>{{ Forms.get(("Cuptown", "Musclecar"), "") }}</td>
                <td>{{ Forms.get(("Cuptown", "Racingtruck"), "") }}</td>
                <td>{{ Forms.get(("Cuptown", "Hotrod"), "") }}</td>
                <td>{{ Forms.get(("Cuptown", "CCev"), "") }}</td>
                <td>{{ Forms.get(("Cuptown", "Superbike"), "") }}</td>
                <td>{{ Forms.get(("Cuptown", "Supercar"), "") }}</td>
                <td>{{ Forms.get(("Cuptown", "Moonlander"), "") }}</td>
                <td>{{ Forms.get(("Cuptown", "Rockbouncer"), "") }}</td>
                <td>{{ Forms.get(("Cuptown", "Hoverbike"), "") }}</td>
                <td>{{ Forms.get(("Cuptown", "Raider"), "") }}</td>
                <td>{{ Forms.get(("Cuptown", "Glider"), "") }}</td>
                <td>{{ Forms.get(("Cuptown", "Bolt"), "") }}</td>
            </tr>
            <tr>
                <td><img src="{{url_for('static', filename='moon.png') }}" alt="image"></td>
                <td>{{ Forms.get(("Moon", "Jeep"), "") }}</td>
                <td>{{ Forms.get(("Moon", "Scooter"), "") }}</td>
                <td>{{ Forms.get(("Moon", "Bus"), "") }}</td>
                <td>{{ Forms.get(("Moon", "Mk2"), "") }}</td>
                <td>{{ Forms.get(("Moon", "Tractor"), "") }}</td>
                <td>{{ Forms.get(("Moon", "Motocross"), "") }}</td>
                <td>{{ Forms.get(("Moon", "Dunebuggy"), "") }}</td>
                <td>{{ Forms.get(("Moon", "Sportscar"), "") }}</td>
                <td>{{ Forms.get(("Moon", "Monstertruck"), "") }}</td>
                <td>{{ Forms.get(("Moon", "Rotator"), "") }}</td>
                <td>{{ Forms.get(("Moon", "Superdiesel"), "") }}</td>
                <td>{{ Forms.get(("Moon", "Chopper"), "") }}</td>
                <td>{{ Forms.get(("Moon", "Tank"), "") }}</td>
                <td>{{ Forms.get(("Moon", "Lowrider"), "") }}</td>
                <td>{{ Forms.get(("Moon", "Snowmobile"), "") }}</td>
                <td>{{ Forms.get(("Moon", "Monowheel"), "") }}</td>
                <td>{{ Forms.get(("Moon", "Beast"), "") }}</td>
                <td>{{ Forms.get(("Moon", "Rallycar"), "") }}</td>
                <td>{{ Forms.get(("Moon", "Formula"), "") }}</td>
                <td>{{ Forms.get(("Moon", "Musclecar"), "") }}</td>
                <td>{{ Forms.get(("Moon", "Racingtruck"), "") }}</td>
                <td>{{ Forms.get(("Moon", "Hotrod"), "") }}</td>
                <td>{{ Forms.get(("Moon", "CCev"), "") }}</td>
                <td>{{ Forms.get(("Moon", "Superbike"), "") }}</td>
                <td>{{ Forms.get(("Moon", "Supercar"), "") }}</td>
                <td>{{ Forms.get(("Moon", "Moonlander"), "") }}</td>
                <td>{{ Forms.get(("Moon", "Rockbouncer"), "") }}</td>
                <td>{{ Forms.get(("Moon", "Hoverbike"), "") }}</td>
                <td>{{ Forms.get(("Moon", "Raider"), "") }}</td>
                <td>{{ Forms.get(("Moon", "Glider"), "") }}</td>
                <td>{{ Forms.get(("Moon", "Bolt"), "") }}</td>
            </tr>
        </table>
    </div>
    <div class="form-main"> <!--POST form to submit data to the database-->
        <div class="content-header">Submit New Distance</div>
        <form method="POST" action="{{url_for('Stats') }}">
            <div class="form">
                <div class="selectmap">
                    Select Map<br>
                    <select name="Map" required>
                        <option disabled selected hidden></option>
                        <option value="Countryside">Countryside</option>
                        <option value="Forest">Forest</option>
                        <option value="City">City</option>
                        <option value="Mountain">Mountain</option>
                        <option value="Reef">Reef</option>
                        <option value="Winter">Winter</option>
                        <option value="Mines">Mines</option>
                        <option value="Desert">Desert Valley</option>
                        <option value="Beach">Beach</option>
                        <option value="Bog">Bog</option>
                        <option value="Glacier">Glacier</option>
                        <option value="Patchwork">Patchwork</option>
                        <option value="Savanna">Savanna</option>
                        <option value="Gloomvale">Gloomvale</option>
                        <option value="Overspill">Overspill</option>
                        <option value="Canyonarena">Canyon Arena</option>
                        <option value="Cuptown">Cuptown</option>
                        <option value="Moon">Moon</option>
                    </select>
                </div>
                
                <div class="selectvehicle">
                    Select Vehicle<br>
                    <select name="Vehicle" required>
                        <option disabled selected hidden></option>
                        <option value="Jeep">Jeep</option>
                        <option value="Scooter">Scooter</option>
                        <option value="Bus">Bus</option>
                        <option value="Mk2">Mk2</option>
                        <option value="Tractor">Tractor</option>
                        <option value="Motocross">Motocross</option>
                        <option value="Dunebuggy">Dune Buggy</option>
                        <option value="Sportscar">Sports Car</option>
                        <option value="Monstertruck">Monster Truck</option>
                        <option value="Rotator">Rotator</option>
                        <option value="Superdiesel">Super Diesel</option>
                        <option value="Chopper">Chopper</option>
                        <option value="Tank">Tank</option>
                        <option value="Lowrider">Lowrider</option>
                        <option value="Snowmobile">Snowmobile</option>
                        <option value="Monowheel">Monowheel</option>
                        <option value="Beast">Beast</option>
                        <option value="Rallycar">RallyCar</option>
                        <option value="Formula">Formula</option>
                        <option value="Musclecar">Muscle Car</option>
                        <option value="Racingtruck">Racing Truck</option>
                        <option value="Hotrod">Hotrod</option>
                        <option value="CCev">CC-EV</option>
                        <option value="Superbike">Superbike</option>
                        <option value="Supercar">Supercar</option>
                        <option value="Moonlander">Moonlander</option>
                        <option value="Rockbouncer">Rock Bouncer</option>
                        <option value="Hoverbike">Hoverbike</option>
                        <option value="Raider">Raider</option>
                        <option value="Glider">Glider</option>
                        <option value="Bolt">Bolt</option>
                    </select>
                </div>

                <div class="selectdistance">
                    Distance (m)<br><input name="Distance" type="number" max="10000" min="0" maxlength="6" required>
                </div>
                <div>
                    <br><input type="submit" value="Submit Distance" class="Submit-Button">
                </div>
            </div>
        </form>
    </div>
    <br>
    <!--Displays miscellaneous info about progress-->
    <div class="stats">
        <div class="statsleft">
            <h1>Overall Progress</h1>
            <div class="Progress-Bar">
                <div class="Progress" style="width: {{ TotalPercent }}%"></div>
            </div>
            <p style="font-size: x-large;">{{ Total10ks }} / 558 10ks Completed</p>
        </div>

        <div class="statsright">
            <div class="statsbox1 box">
                <img class="icon" src="{{ url_for('static', filename='globe-icon.svg') }}"><br>
                <span">Total Distance</span><br>
                <b>{{ TotalDistance }}K</b>
            </div>

            <div class="statsbox2 box">
                <img class="icon" src="{{ url_for('static', filename='circlecheck-icon.svg') }}"><br>
                <span">Maxed Maps</span><br>
                <b>{{ MaxMaps }}/18</b>
            </div>

            <div class="statsbox3 box">
                <img class="icon" src="{{ url_for('static', filename='hourglass-icon.svg') }}"><br>
                <span">Remaining 10ks</span><br>
                <b>{{ Remaining10ks }}</b>
            </div>

            <div class="statsbox4 box">
                <img class="icon" src="{{ url_for('static', filename='star-icon.svg') }}"><br>
                <span">Average Stars Per Map</span><br>
                <b>{{ AverageStars }}</b>
            </div>
        </div>
    </div>
    <br>
    <!--Progress bars showing how many stars out of 310,000 that have been achieved-->
    <div class="Completion">
        <div>Countryside: {{ CountrysideStars }}/310,000
            <div class="Progress-Bar">
                <div class="Progress" style="width: {{ Percent1 }}%">{{ Percent1 }}%</div>
            </div>
        </div>

        <div class="background" style="background-image: url(/static/forest-background.png);">
            <div class="header">Forest</div><span>Progress</span>
            <div class="Progress-Bar">
                <div class="Progress" style="width: {{ Percent2 }}%">{{ Percent2 }}%</div>
            </div>
            <span>{{ ForestStars }}/310,000</span>
            <a class="link addDistance">Add Distance</a>
        </div>

        <div class="background" style="background-image: url(/static/city-background.png);">
            <div class="header">City</div><span>Progress</span>
            <div class="Progress-Bar">
                <div class="Progress" style="width: {{ Percent3 }}%">{{ Percent3 }}%</div>
            </div>
            <span>{{ CityStars }}/310,000</span>
            <a class="link addDistance">Add Distance</a>
        </div>

        <div class="background" style="background-image: url(/static/mountain-background2.png);">
            <div class="header">Mountain</div><span>Progress</span>
            <div class="Progress-Bar">
                <div class="Progress" style="width: {{ Percent4 }}%">{{ Percent4 }}%</div>
            </div>
            <span>{{ MountainStars }}/310,000</span>
            <a class="link addDistance">Add Distance</a>
        </div>

        <div>Reef: {{ ReefStars }}/310,000<br>
            <div class="Progress-Bar">
                <div class="Progress" style="width: {{ Percent5 }}%">{{ Percent5 }}%</div>
            </div>
        </div>

        <div class="background" style="background-image: url(/static/winter-background.png);">
            <div class="header">Winter</div><span>Progress</span>
            <div class="Progress-Bar">
                <div class="Progress" style="width: {{ Percent6 }}%">{{ Percent6 }}%</div>
            </div>
            <span>{{ WinterStars }}/310,000</span>
            <a class="link addDistance">Add Distance</a>
        </div>

        <div class="background" style="background-image: url(/static/mines-background.png);">
            <div class="header">Mines</div><span>Progress</span>
            <div class="Progress-Bar">
                <div class="Progress" style="width: {{ Percent7 }}%">{{ Percent7 }}%</div>
            </div>
            <span>{{ MinesStars }}/310,000</span>
            <a class="link addDistance">Add Distance</a>
        </div>

        <div>Desert Valley: {{ DesertvalleyStars }}/310,000<br>
            <div class="Progress-Bar">
                <div class="Progress" style="width: {{ Percent8 }}%">{{ Percent8 }}%</div>
            </div>
        </div>

        <div>Beach: {{ BeachStars }}/310,000<br>
            <div class="Progress-Bar">
                <div class="Progress" style="width: {{ Percent9 }}%">{{ Percent9 }}%</div>
            </div>
        </div>

        <div>Bog: {{ BogStars }}/310,000<br>
            <div class="Progress-Bar">
                <div class="Progress" style="width: {{ Percent10 }}%">{{ Percent10 }}%</div>
            </div>
        </div>

        <div>Glacier: {{ GlacierStars }}/310,000<br>
            <div class="Progress-Bar">
                <div class="Progress" style="width: {{ Percent11 }}%">{{ Percent11 }}%</div>
            </div>
        </div>

        <div>Patchwork: {{ PatchworkStars }}/310,000<br>
            <div class="Progress-Bar">
                <div class="Progress" style="width: {{ Percent12 }}%">{{ Percent12 }}%</div>
            </div>
        </div>

        <div>Savanna: {{ SavannaStars }}/310,000<br>
            <div class="Progress-Bar">
                <div class="Progress" style="width: {{ Percent13 }}%">{{ Percent13 }}%</div>
            </div>
        </div>

        <div>Gloomvale: {{ GloomvaleStars }}/310,000<br>
            <div class="Progress-Bar">
                <div class="Progress" style="width: {{ Percent14 }}%">{{ Percent14 }}%</div>
            </div>
        </div>

        <div>Overspill: {{ OverspillStars }}/310,000<br>
            <div class="Progress-Bar">
                <div class="Progress" style="width: {{ Percent15 }}%">{{ Percent15 }}%</div>
            </div>
        </div>

        <div>Canyon Arena: {{ CanyonarenaStars }}/310,000<br>
            <div class="Progress-Bar">
                <div class="Progress" style="width: {{ Percent16 }}%">{{ Percent16 }}%</div>
            </div>
        </div>

        <div>Cuptown: {{ CuptownStars }}/310,000<br>
            <div class="Progress-Bar">
                <div class="Progress" style="width: {{ Percent17 }}%">{{ Percent17 }}%</div>
            </div>
        </div>

        <div>Moon: {{ MoonStars }}/310,000<br>
            <div class="Progress-Bar">
                <div class="Progress" style="width: {{ Percent18 }}%">{{ Percent18 }}%</div>
            </div>
        </div>

        <div>Total Stars: {{ TotalStars }}/5,580,000<br>
            <div class="Progress-Bar">
                <div class="Progress" style="width: {{ Percent }}%">{{ Percent }}%</div>
            </div>
        </div>
    </div> 
</body>
{% endblock %}