/* filler */

header
{
    font-size: medium;
    color: crimson;
    text-align: center;
}

body
{
    font-family:"Arial";
    font-size: medium;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer
{
    font-family:"Calibri";
    font-size: x-small;
    color: rgb(255, 174, 0);
}

input[type="submit"]
{
    color: darkslategray;
    background-color: aqua;
    padding: 3%;
    padding-right: 20%;
    padding-left: 20%;
    font-size: large;
    border-color: blue;
    border-radius: 5%;
}

[type="submit"]:hover
{
    color: darkslategray;
    background-color: coral;
}

a
{
    color: rgb(255, 145, 0);
}

.adventure-table img
{
    font-size: medium;
    color: rgb(0, 0, 0);
    width: 33px;
    height: 21px;
    margin: 0 auto;
}

.adventure-table td
{
    border: 1px solid black
}

.form-table
{
    width: 300px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    border-style: groove;
}