:root
{
    --background-color: #FFFFFF;
    --text-color: #000000;
    --element-background-color: #ffffff;
}

.Theme-Toggle:checked ~ .master-control
{
    --background-color:rgb(48, 42, 42);
    --text-color: #f3f3f3;
    --element-background-color: #353535;
}

body
{
    margin: 1vh;
}

.master-control
{
    background-color: var(--background-color);
    color: var(--text-color);
}

footer
{
    font-size: x-small;
    color: rgb(255, 174, 0);
}


.form-table, input[type="submit"]
{
    color: darkslategray;
    background-color: aqua;
    font-size: large;
    border-color: var(--text-color);
    border-radius: 5%;
}

[type="submit"]:hover
{
    color: darkslategray;
    background-color: coral;
}

a
{
    color: rgb(33, 0, 218);
    text-decoration: none;
    display: inline-block;
}

.adventure-table img /*10k spreadsheet image styling*/
{
    width: 33px;
    height: 21px;
    margin: 0 auto;
}

.adventure-table td /*border outline for cells*/
{
    border: 1px solid var(--text-color);
}

.adventure-table
{
    padding: 2vh;
}

.form-table /*form POST table*/
{
    width: 300px;
    padding: 2vh;
    text-align: center;
    border-style: solid;
}

.whole-form-table
{
    padding: 2vh;
}

.Completion
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.Completion > div
{
    border: 0.2vh solid var(--text-color);
    border-radius: 2vh;
    height: 10vh;
    padding: 1vh;
    font-size: large;
    margin: 2vh;
    background-color: var(--element-background-color);
}

.nav /*Top main nav bar*/
{
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto;
    font-size: large;
    height: 8vh;
}

.nav > div
{
    display: flex;
    align-items: center;
    grid-row: 1;
}

.LeftFiller
{
    display: flex;
    justify-content: flex-start;
    grid-column: 1
}

.RightFiller
{
    display: flex;
    justify-content: flex-end;
    grid-column: 3;
}

.homelinks
{
    display: flex;
    justify-content: center;
    grid-column: 2;
    gap: 1vh;
    margin-left: 150vh;
}

.Theme-Toggle
{
    margin-left: 160vh;
}

.Progress-Bar
{
    display: flex;
    justify-content: flex-start;
    margin-top: 2vh;
    background-color: lightgray;
    height: 3vh;
    border-radius: 5vh;
}

.Progress
{
    background-color: rgb(41, 207, 25);
    border-radius: inherit;
    text-align: center;
    height: inherit;
}

details
{
    background-color: #dddddd;
}